## Fixing ELPAC for EPLI

For this Python program you will use the file that was generated at the end of the Merging ELPAC Program. Make sure that you have looked up students who are missing their 2022 score in Aeries so that you have a complete data set.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Loading in ELPAC scores
elpac_scores = pd.read_csv(r"C:\Users\derek.castleman\Desktop\ELPACEOY\Elpac Combined Delano.csv")
elpac_scores

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
0,4.0,5206937602,1094943,2,1,1414,1406
1,1.0,4532271208,1094484,10,9,1486,1457
2,1.0,7398118361,1091983,12,11,1614,1565
3,4.0,5182164156,1095425,1,0,1438,1395
4,2.0,2301556408,1093616,7,6,1577,1509
...,...,...,...,...,...,...,...
479,4.0,8945537163,1092347,5,4,1541,1490
480,2.0,6723298798,1094041,7,6,1553,1549
481,1.0,4761803542,1093233,11,10,1498,1558
482,4.0,9400617955,1092921,4,3,1574,1503
483,4.0,3365679238,1094904,1,0,1467,1443

In [3]:
# Input the most recent year of interest for the tests
a = input('What is the current year of the test that you are interested in (2023, 2024, 2025, etc)?          ')
a

What is the current year of the test that you are interested in (2023, 2024, 2025, etc)?          2023

'2023'

In [4]:
# Turns the year of interest from a string into a datetime
from datetime import datetime

date_str = a
date_format = '%Y'
date_obj = datetime.strptime(date_str, date_format)
date_obj

datetime.datetime(2023, 1, 1, 0, 0)

In [5]:
# Finds the previous year to compare the current year to
from dateutil.relativedelta import relativedelta
one_year_ago = date_obj - relativedelta(years=1)
one_year_ago

datetime.datetime(2022, 1, 1, 0, 0)

In [6]:
# Turns the previous year into a string
b = one_year_ago.strftime('%Y')
b

'2022'

In [7]:
# Creating labels for each of the variables of concern in the code
w = a + ' Score'
x = b + ' Score'
y = a + ' Level'
z = b + ' Level'
w

'2023 Score'

## Generating Levels

For this portion each grade will be selected since they have different ranges for what test level they will be in the end. The level for the current years will be calculated. Then the level for the previous year will be calculated using the date ranges that apply to the previous grade level for the student.

In [8]:
third = elpac_scores[elpac_scores['GradeAssessed'] == 3]
third

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
5,4.0,7510092265,1094202,3,2,1492,1485
12,4.0,8334219690,1094242,3,2,1527,1527
16,4.0,7620399876,1094241,3,2,1546,1513
31,4.0,1291916507,1094235,3,2,1498,1517
47,4.0,1908058206,1095971,3,2,1451,1447
50,4.0,3504102164,1094627,3,2,1456,1436
77,4.0,5312360171,1095585,3,2,1444,1409
86,4.0,7115192932,1094206,3,2,1510,1500
93,4.0,2199343410,1095256,3,2,1512,1500
101,4.0,4505050168,1094062,3,2,1479,1500
107,4.0,9988084653,1094232,3,2,1517,1499
111,4.0,8787634064,1094213,3,2,1436,1416
117,4.0,7742721396,1094773,3,2,1634,1484
121,4.0,1715490887,1096006,3,2,1515,1507
123,4.0,9678813344,1094218,3,2,1469,1473
137,4.0,6323884323,1093885,3,2,1453,1433
151,4.0,6948396696,1092878,3,2,1461,1447
158,4.0,1262307172,1095153,3,2,1544,1511
177,4.0,9620182484,1093926,3,2,1454,1457
189,4.0,7380750205,1093317,3,2,1538,1469
194,4.0,1473392711,1092888,3,2,1496,1490
225,4.0,5504877955,1094083,3,2,1461,1436
241,4.0,4727943808,1093884,3,2,1507,1494
243,4.0,7578126797,1094201,3,2,1485,1481
262,4.0,8690344942,1094792,3,2,1514,1470
265,4.0,9793102746,1094545,3,2,1495,1498
284,4.0,5303262723,1094645,3,2,1447,1456
287,4.0,3696708925,1096022,3,2,1507,1509
300,4.0,8760829803,1094239,3,2,1469,1443
305,4.0,1654936648,1094487,3,2,1484,1450
314,4.0,9143739628,1093316,3,2,1466,1443
340,4.0,1752774017,1096007,3,2,1448,1412
354,4.0,5427909832,1094076,3,2,1512,1482
379,4.0,9104238009,1095442,3,2,1544,1488
389,4.0,9102200264,1094981,3,2,1467,1454
393,4.0,6701900872,1094237,3,2,1461,1461
398,4.0,3579766334,1094190,3,2,1500,1445
401,4.0,3671257397,1095443,3,2,1461,1453
416,4.0,4471601040,1094468,3,2,1470,1460
418,4.0,9542448090,1094025,3,2,1521,1474
424,4.0,6335530097,1095955,3,2,1473,1486
427,4.0,9649977546,1094481,3,2,1485,1468
434,4.0,5335209180,1094983,3,2,1559,1529
437,4.0,8785782821,1094196,3,2,1482,1493
442,4.0,8500167944,1094220,3,2,1469,1465
445,4.0,9105881872,1094425,3,2,1527,1517
450,4.0,2660465340,1094210,3,2,1538,1517
465,4.0,8231588278,1095449,3,2,1426,1394
467,4.0,4931914724,1094061,3,2,1551,1506
475,4.0,9238604264,1094221,3,2,1437,1452
476,4.0,5009218727,1094546,3,2,1459,1453

In [9]:
# Creating a function that gives the level for the student based on their score
def f(row):
    if row[w] <= 1447: 
        val = "1"
    elif row[w] >= 1448 and row[w] <= 1467:
        val = "2L"
    elif row[w] >= 1468 and row[w] <= 1487:
        val = "2H"
    elif row[w] >= 1488 and row[w] <= 1510:
        val = '3L'
    elif row[w] >= 1511 and row[w] <= 1534:
        val = '3H'
    else:
        val = '4'
    return val

In [10]:
third[y] = third.apply(f, axis=1)
third

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/332384932.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third[y] = third.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
5,4.0,7510092265,1094202,3,2,1492,1485,3L
12,4.0,8334219690,1094242,3,2,1527,1527,3H
16,4.0,7620399876,1094241,3,2,1546,1513,4
31,4.0,1291916507,1094235,3,2,1498,1517,3L
47,4.0,1908058206,1095971,3,2,1451,1447,2L
50,4.0,3504102164,1094627,3,2,1456,1436,2L
77,4.0,5312360171,1095585,3,2,1444,1409,1
86,4.0,7115192932,1094206,3,2,1510,1500,3L
93,4.0,2199343410,1095256,3,2,1512,1500,3H
101,4.0,4505050168,1094062,3,2,1479,1500,2H
107,4.0,9988084653,1094232,3,2,1517,1499,3H
111,4.0,8787634064,1094213,3,2,1436,1416,1
117,4.0,7742721396,1094773,3,2,1634,1484,4
121,4.0,1715490887,1096006,3,2,1515,1507,3H
123,4.0,9678813344,1094218,3,2,1469,1473,2H
137,4.0,6323884323,1093885,3,2,1453,1433,2L
151,4.0,6948396696,1092878,3,2,1461,1447,2L
158,4.0,1262307172,1095153,3,2,1544,1511,4
177,4.0,9620182484,1093926,3,2,1454,1457,2L
189,4.0,7380750205,1093317,3,2,1538,1469,4
194,4.0,1473392711,1092888,3,2,1496,1490,3L
225,4.0,5504877955,1094083,3,2,1461,1436,2L
241,4.0,4727943808,1093884,3,2,1507,1494,3L
243,4.0,7578126797,1094201,3,2,1485,1481,2H
262,4.0,8690344942,1094792,3,2,1514,1470,3H
265,4.0,9793102746,1094545,3,2,1495,1498,3L
284,4.0,5303262723,1094645,3,2,1447,1456,1
287,4.0,3696708925,1096022,3,2,1507,1509,3L
300,4.0,8760829803,1094239,3,2,1469,1443,2H
305,4.0,1654936648,1094487,3,2,1484,1450,2H
314,4.0,9143739628,1093316,3,2,1466,1443,2L
340,4.0,1752774017,1096007,3,2,1448,1412,2L
354,4.0,5427909832,1094076,3,2,1512,1482,3H
379,4.0,9104238009,1095442,3,2,1544,1488,4
389,4.0,9102200264,1094981,3,2,1467,1454,2L
393,4.0,6701900872,1094237,3,2,1461,1461,2L
398,4.0,3579766334,1094190,3,2,1500,1445,3L
401,4.0,3671257397,1095443,3,2,1461,1453,2L
416,4.0,4471601040,1094468,3,2,1470,1460,2H
418,4.0,9542448090,1094025,3,2,1521,1474,3H
424,4.0,6335530097,1095955,3,2,1473,1486,2H
427,4.0,9649977546,1094481,3,2,1485,1468,2H
434,4.0,5335209180,1094983,3,2,1559,1529,4
437,4.0,8785782821,1094196,3,2,1482,1493,2H
442,4.0,8500167944,1094220,3,2,1469,1465,2H
445,4.0,9105881872,1094425,3,2,1527,1517,3H
450,4.0,2660465340,1094210,3,2,1538,1517,4
465,4.0,8231588278,1095449,3,2,1426,1394,1
467,4.0,4931914724,1094061,3,2,1551,1506,4
475,4.0,9238604264,1094221,3,2,1437,1452,1
476,4.0,5009218727,1094546,3,2,1459,1453,2L

In [11]:
def g(row):
    if row[x] <= 1423: 
        val = "1"
    elif row[x] >= 1424 and row[x] <= 1446:
        val = "2L"
    elif row[x] >= 1447 and row[x] <= 1470:
        val = "2H"
    elif row[x] >= 1471 and row[x] <= 1500:
        val = '3L'
    elif row[x] >= 1501 and row[x] <= 1531:
        val = '3H'
    else:
        val = '4'
    return val

In [12]:
third[z] = third.apply(g, axis=1)
third

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/2207057810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  third[z] = third.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
5,4.0,7510092265,1094202,3,2,1492,1485,3L,3L
12,4.0,8334219690,1094242,3,2,1527,1527,3H,3H
16,4.0,7620399876,1094241,3,2,1546,1513,4,3H
31,4.0,1291916507,1094235,3,2,1498,1517,3L,3H
47,4.0,1908058206,1095971,3,2,1451,1447,2L,2H
50,4.0,3504102164,1094627,3,2,1456,1436,2L,2L
77,4.0,5312360171,1095585,3,2,1444,1409,1,1
86,4.0,7115192932,1094206,3,2,1510,1500,3L,3L
93,4.0,2199343410,1095256,3,2,1512,1500,3H,3L
101,4.0,4505050168,1094062,3,2,1479,1500,2H,3L
107,4.0,9988084653,1094232,3,2,1517,1499,3H,3L
111,4.0,8787634064,1094213,3,2,1436,1416,1,1
117,4.0,7742721396,1094773,3,2,1634,1484,4,3L
121,4.0,1715490887,1096006,3,2,1515,1507,3H,3H
123,4.0,9678813344,1094218,3,2,1469,1473,2H,3L
137,4.0,6323884323,1093885,3,2,1453,1433,2L,2L
151,4.0,6948396696,1092878,3,2,1461,1447,2L,2H
158,4.0,1262307172,1095153,3,2,1544,1511,4,3H
177,4.0,9620182484,1093926,3,2,1454,1457,2L,2H
189,4.0,7380750205,1093317,3,2,1538,1469,4,2H
194,4.0,1473392711,1092888,3,2,1496,1490,3L,3L
225,4.0,5504877955,1094083,3,2,1461,1436,2L,2L
241,4.0,4727943808,1093884,3,2,1507,1494,3L,3L
243,4.0,7578126797,1094201,3,2,1485,1481,2H,3L
262,4.0,8690344942,1094792,3,2,1514,1470,3H,2H
265,4.0,9793102746,1094545,3,2,1495,1498,3L,3L
284,4.0,5303262723,1094645,3,2,1447,1456,1,2H
287,4.0,3696708925,1096022,3,2,1507,1509,3L,3H
300,4.0,8760829803,1094239,3,2,1469,1443,2H,2L
305,4.0,1654936648,1094487,3,2,1484,1450,2H,2H
314,4.0,9143739628,1093316,3,2,1466,1443,2L,2L
340,4.0,1752774017,1096007,3,2,1448,1412,2L,1
354,4.0,5427909832,1094076,3,2,1512,1482,3H,3L
379,4.0,9104238009,1095442,3,2,1544,1488,4,3L
389,4.0,9102200264,1094981,3,2,1467,1454,2L,2H
393,4.0,6701900872,1094237,3,2,1461,1461,2L,2H
398,4.0,3579766334,1094190,3,2,1500,1445,3L,2L
401,4.0,3671257397,1095443,3,2,1461,1453,2L,2H
416,4.0,4471601040,1094468,3,2,1470,1460,2H,2H
418,4.0,9542448090,1094025,3,2,1521,1474,3H,3L
424,4.0,6335530097,1095955,3,2,1473,1486,2H,3L
427,4.0,9649977546,1094481,3,2,1485,1468,2H,2H
434,4.0,5335209180,1094983,3,2,1559,1529,4,3H
437,4.0,8785782821,1094196,3,2,1482,1493,2H,3L
442,4.0,8500167944,1094220,3,2,1469,1465,2H,2H
445,4.0,9105881872,1094425,3,2,1527,1517,3H,3H
450,4.0,2660465340,1094210,3,2,1538,1517,4,3H
465,4.0,8231588278,1095449,3,2,1426,1394,1,1
467,4.0,4931914724,1094061,3,2,1551,1506,4,3H
475,4.0,9238604264,1094221,3,2,1437,1452,1,2H
476,4.0,5009218727,1094546,3,2,1459,1453,2L,2H

In [13]:
fourth = elpac_scores[elpac_scores['GradeAssessed'] == 4]
fourth

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
26,4.0,3218347337,1092942,4,3,1520,1482
28,4.0,1686561153,1092802,4,3,1477,1466
33,4.0,7504539603,1096019,4,3,1473,1481
35,4.0,8185040190,1093326,4,3,1452,1459
62,4.0,8294801185,1094979,4,3,1546,1480
68,4.0,1754570024,1093389,4,3,1493,1453
69,4.0,5526603257,1093333,4,3,1514,1453
78,4.0,9716476634,1094812,4,3,1517,1513
80,4.0,6781320371,1094630,4,3,1532,1501
85,4.0,1442609076,1095483,4,3,1544,1518
102,4.0,2970858622,1095473,4,3,1600,1516
116,4.0,8369481418,1094477,4,3,1536,1463
120,4.0,4559021537,1093330,4,3,1485,1473
124,4.0,6460524044,1094503,4,3,1515,1492
152,4.0,6448385632,1095477,4,3,1485,1453
153,4.0,2436498134,1095484,4,3,1483,1453
156,NaN,5236500870,1096042,4,3,1527,1487
168,4.0,8125110472,1095652,4,3,1484,1422
171,4.0,8493170196,1093320,4,3,1533,1518
172,4.0,9209917315,1093381,4,3,1475,1462
181,4.0,5195980945,1093378,4,3,1538,1498
186,4.0,2170620630,1095685,4,3,1514,1446
200,4.0,4198238954,1093325,4,3,1501,1490
203,4.0,4707202206,1092902,4,3,1470,1449
204,4.0,2158139608,1093822,4,3,1554,1495
206,4.0,1274317503,1095472,4,3,1473,1456
214,4.0,7639719603,1095482,4,3,1498,1463
217,4.0,1581588955,1092401,4,3,1587,1528
230,4.0,5481919877,1093591,4,3,1471,1472
234,4.0,4217351455,1093001,4,3,1562,1504
235,4.0,3121308371,1092909,4,3,1539,1508
238,4.0,7262976431,1092937,4,3,1501,1476
250,4.0,6791274437,1092935,4,3,1501,1450
252,4.0,5321934022,1095622,4,3,1531,1480
260,4.0,4248087704,1092938,4,3,1548,1515
272,4.0,9046944742,1092930,4,3,1519,1469
281,4.0,8021194920,1092940,4,3,1504,1489
308,4.0,7458705988,1092923,4,3,1506,1481
309,4.0,2159063267,1095956,4,3,1478,1469
317,4.0,1295925851,1092877,4,3,1516,1492
321,4.0,5906457821,1092907,4,3,1548,1511
324,4.0,9081971144,1093806,4,3,1510,1481
325,4.0,8975748914,1095653,4,3,1427,1427
356,4.0,6768980796,1093322,4,3,1496,1465
367,4.0,9499567015,1095214,4,3,1419,1435
380,4.0,7417107742,1094416,4,3,1553,1508
402,4.0,3303364937,1094590,4,3,1451,1461
413,4.0,2087571587,1095086,4,3,1664,1490
435,4.0,2751314455,1092890,4,3,1536,1480
440,4.0,4253778336,1096015,4,3,1484,1482
457,4.0,2716094913,1092999,4,3,1529,1496
458,4.0,1184903976,1093385,4,3,1498,1439
474,4.0,3728897616,1092915,4,3,1441,1425
482,4.0,9400617955,1092921,4,3,1574,1503

In [14]:
def f(row):
    if row[w] <= 1458: 
        val = "1"
    elif row[w] >= 1459 and row[w] <= 1478:
        val = "2L"
    elif row[w] >= 1479 and row[w] <= 1498:
        val = "2H"
    elif row[w] >= 1499 and row[w] <= 1523:
        val = '3L'
    elif row[w] >= 1524 and row[w] <= 1548:
        val = '3H'
    else:
        val = '4'
    return val

In [15]:
fourth[y] = fourth.apply(f, axis=1)
fourth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/302416600.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fourth[y] = fourth.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
26,4.0,3218347337,1092942,4,3,1520,1482,3L
28,4.0,1686561153,1092802,4,3,1477,1466,2L
33,4.0,7504539603,1096019,4,3,1473,1481,2L
35,4.0,8185040190,1093326,4,3,1452,1459,1
62,4.0,8294801185,1094979,4,3,1546,1480,3H
68,4.0,1754570024,1093389,4,3,1493,1453,2H
69,4.0,5526603257,1093333,4,3,1514,1453,3L
78,4.0,9716476634,1094812,4,3,1517,1513,3L
80,4.0,6781320371,1094630,4,3,1532,1501,3H
85,4.0,1442609076,1095483,4,3,1544,1518,3H
102,4.0,2970858622,1095473,4,3,1600,1516,4
116,4.0,8369481418,1094477,4,3,1536,1463,3H
120,4.0,4559021537,1093330,4,3,1485,1473,2H
124,4.0,6460524044,1094503,4,3,1515,1492,3L
152,4.0,6448385632,1095477,4,3,1485,1453,2H
153,4.0,2436498134,1095484,4,3,1483,1453,2H
156,NaN,5236500870,1096042,4,3,1527,1487,3H
168,4.0,8125110472,1095652,4,3,1484,1422,2H
171,4.0,8493170196,1093320,4,3,1533,1518,3H
172,4.0,9209917315,1093381,4,3,1475,1462,2L
181,4.0,5195980945,1093378,4,3,1538,1498,3H
186,4.0,2170620630,1095685,4,3,1514,1446,3L
200,4.0,4198238954,1093325,4,3,1501,1490,3L
203,4.0,4707202206,1092902,4,3,1470,1449,2L
204,4.0,2158139608,1093822,4,3,1554,1495,4
206,4.0,1274317503,1095472,4,3,1473,1456,2L
214,4.0,7639719603,1095482,4,3,1498,1463,2H
217,4.0,1581588955,1092401,4,3,1587,1528,4
230,4.0,5481919877,1093591,4,3,1471,1472,2L
234,4.0,4217351455,1093001,4,3,1562,1504,4
235,4.0,3121308371,1092909,4,3,1539,1508,3H
238,4.0,7262976431,1092937,4,3,1501,1476,3L
250,4.0,6791274437,1092935,4,3,1501,1450,3L
252,4.0,5321934022,1095622,4,3,1531,1480,3H
260,4.0,4248087704,1092938,4,3,1548,1515,3H
272,4.0,9046944742,1092930,4,3,1519,1469,3L
281,4.0,8021194920,1092940,4,3,1504,1489,3L
308,4.0,7458705988,1092923,4,3,1506,1481,3L
309,4.0,2159063267,1095956,4,3,1478,1469,2L
317,4.0,1295925851,1092877,4,3,1516,1492,3L
321,4.0,5906457821,1092907,4,3,1548,1511,3H
324,4.0,9081971144,1093806,4,3,1510,1481,3L
325,4.0,8975748914,1095653,4,3,1427,1427,1
356,4.0,6768980796,1093322,4,3,1496,1465,2H
367,4.0,9499567015,1095214,4,3,1419,1435,1
380,4.0,7417107742,1094416,4,3,1553,1508,4
402,4.0,3303364937,1094590,4,3,1451,1461,1
413,4.0,2087571587,1095086,4,3,1664,1490,4
435,4.0,2751314455,1092890,4,3,1536,1480,3H
440,4.0,4253778336,1096015,4,3,1484,1482,2H
457,4.0,2716094913,1092999,4,3,1529,1496,3H
458,4.0,1184903976,1093385,4,3,1498,1439,2H
474,4.0,3728897616,1092915,4,3,1441,1425,1
482,4.0,9400617955,1092921,4,3,1574,1503,4

In [16]:
def g(row):
    if row[x] <= 1447: 
        val = "1"
    elif row[x] >= 1448 and row[x] <= 1467:
        val = "2L"
    elif row[x] >= 1468 and row[x] <= 1487:
        val = "2H"
    elif row[x] >= 1488 and row[x] <= 1510:
        val = '3L'
    elif row[x] >= 1511 and row[x] <= 1534:
        val = '3H'
    else:
        val = '4'
    return val

In [17]:
fourth[z] = fourth.apply(g, axis=1)
fourth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/2538188018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fourth[z] = fourth.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
26,4.0,3218347337,1092942,4,3,1520,1482,3L,2H
28,4.0,1686561153,1092802,4,3,1477,1466,2L,2L
33,4.0,7504539603,1096019,4,3,1473,1481,2L,2H
35,4.0,8185040190,1093326,4,3,1452,1459,1,2L
62,4.0,8294801185,1094979,4,3,1546,1480,3H,2H
68,4.0,1754570024,1093389,4,3,1493,1453,2H,2L
69,4.0,5526603257,1093333,4,3,1514,1453,3L,2L
78,4.0,9716476634,1094812,4,3,1517,1513,3L,3H
80,4.0,6781320371,1094630,4,3,1532,1501,3H,3L
85,4.0,1442609076,1095483,4,3,1544,1518,3H,3H
102,4.0,2970858622,1095473,4,3,1600,1516,4,3H
116,4.0,8369481418,1094477,4,3,1536,1463,3H,2L
120,4.0,4559021537,1093330,4,3,1485,1473,2H,2H
124,4.0,6460524044,1094503,4,3,1515,1492,3L,3L
152,4.0,6448385632,1095477,4,3,1485,1453,2H,2L
153,4.0,2436498134,1095484,4,3,1483,1453,2H,2L
156,NaN,5236500870,1096042,4,3,1527,1487,3H,2H
168,4.0,8125110472,1095652,4,3,1484,1422,2H,1
171,4.0,8493170196,1093320,4,3,1533,1518,3H,3H
172,4.0,9209917315,1093381,4,3,1475,1462,2L,2L
181,4.0,5195980945,1093378,4,3,1538,1498,3H,3L
186,4.0,2170620630,1095685,4,3,1514,1446,3L,1
200,4.0,4198238954,1093325,4,3,1501,1490,3L,3L
203,4.0,4707202206,1092902,4,3,1470,1449,2L,2L
204,4.0,2158139608,1093822,4,3,1554,1495,4,3L
206,4.0,1274317503,1095472,4,3,1473,1456,2L,2L
214,4.0,7639719603,1095482,4,3,1498,1463,2H,2L
217,4.0,1581588955,1092401,4,3,1587,1528,4,3H
230,4.0,5481919877,1093591,4,3,1471,1472,2L,2H
234,4.0,4217351455,1093001,4,3,1562,1504,4,3L
235,4.0,3121308371,1092909,4,3,1539,1508,3H,3L
238,4.0,7262976431,1092937,4,3,1501,1476,3L,2H
250,4.0,6791274437,1092935,4,3,1501,1450,3L,2L
252,4.0,5321934022,1095622,4,3,1531,1480,3H,2H
260,4.0,4248087704,1092938,4,3,1548,1515,3H,3H
272,4.0,9046944742,1092930,4,3,1519,1469,3L,2H
281,4.0,8021194920,1092940,4,3,1504,1489,3L,3L
308,4.0,7458705988,1092923,4,3,1506,1481,3L,2H
309,4.0,2159063267,1095956,4,3,1478,1469,2L,2H
317,4.0,1295925851,1092877,4,3,1516,1492,3L,3L
321,4.0,5906457821,1092907,4,3,1548,1511,3H,3H
324,4.0,9081971144,1093806,4,3,1510,1481,3L,2H
325,4.0,8975748914,1095653,4,3,1427,1427,1,1
356,4.0,6768980796,1093322,4,3,1496,1465,2H,2L
367,4.0,9499567015,1095214,4,3,1419,1435,1,1
380,4.0,7417107742,1094416,4,3,1553,1508,4,3L
402,4.0,3303364937,1094590,4,3,1451,1461,1,2L
413,4.0,2087571587,1095086,4,3,1664,1490,4,3L
435,4.0,2751314455,1092890,4,3,1536,1480,3H,2H
440,4.0,4253778336,1096015,4,3,1484,1482,2H,2H
457,4.0,2716094913,1092999,4,3,1529,1496,3H,3L
458,4.0,1184903976,1093385,4,3,1498,1439,2H,1
474,4.0,3728897616,1092915,4,3,1441,1425,1,1
482,4.0,9400617955,1092921,4,3,1574,1503,4,3L

In [18]:
fifth = elpac_scores[elpac_scores['GradeAssessed'] == 5]
fifth

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
29,4.0,8515028463,1093872,5,4,1512,1491
36,4.0,9431212375,1092365,5,4,1528,1546
43,4.0,4472669700,1092402,5,4,1582,1521
46,4.0,2470731930,1095464,5,4,1575,1500
87,4.0,9290729823,1095115,5,4,1616,1527
89,4.0,2342121625,1092751,5,4,1538,1479
90,4.0,2339387807,1092352,5,4,1505,1463
125,4.0,3681150276,1092398,5,4,1563,1546
129,4.0,8739749441,1094579,5,4,1475,1454
134,4.0,1783950120,1092344,5,4,1528,1505
159,4.0,9432330445,1092399,5,4,1589,1518
161,4.0,1660648566,1093556,5,4,1662,1545
163,4.0,5480793538,1092351,5,4,1500,1474
164,4.0,8915211055,1095455,5,4,1459,1438
169,4.0,9458406988,1092413,5,4,1568,1528
213,4.0,1591743600,1095456,5,4,1578,1525
227,4.0,9535959134,1095495,5,4,1389,1385
233,4.0,2697697056,1096016,5,4,1515,1477
237,4.0,7112169551,1094262,5,4,1569,1536
239,4.0,8520373146,1092338,5,4,1600,1525
247,4.0,1185076822,1093611,5,4,1510,1491
259,4.0,1653156347,1092416,5,4,1477,1471
263,4.0,3440782102,1095633,5,4,1519,1518
268,4.0,8182270890,1092340,5,4,1572,1504
269,4.0,7978794895,1093773,5,4,1482,1450
288,4.0,8188745635,1092314,5,4,1465,1453
294,4.0,9380541870,1092392,5,4,1572,1539
315,4.0,5276944023,1092390,5,4,1532,1490
326,4.0,6796705645,1092377,5,4,1530,1513
334,4.0,4528695341,1095124,5,4,1583,1533
355,4.0,5679891268,1095920,5,4,1487,1471
361,4.0,2528718388,1094770,5,4,1496,1487
370,NaN,3199740816,1096045,5,4,1495,1471
374,4.0,3936743504,1094528,5,4,1566,1525
376,4.0,8328381423,1095463,5,4,1503,1500
383,4.0,3384775214,1095458,5,4,1642,1533
407,4.0,3322538616,1092396,5,4,1505,1493
408,4.0,5123814750,1092391,5,4,1544,1528
421,4.0,9097554756,1092404,5,4,1548,1548
425,4.0,2334509550,1092388,5,4,1464,1416
436,4.0,7153969228,1095460,5,4,1435,1398
443,4.0,3352403733,1093904,5,4,1496,1537
448,4.0,3963409266,1092733,5,4,1498,1461
462,4.0,2942162932,1095911,5,4,1559,1463
471,4.0,8954672804,1093807,5,4,1566,1517
479,4.0,8945537163,1092347,5,4,1541,1490

In [19]:
def f(row):
    if row[w] <= 1466: 
        val = "1"
    elif row[w] >= 1467 and row[w] <= 1489:
        val = "2L"
    elif row[w] >= 1490 and row[w] <= 1513:
        val = "2H"
    elif row[w] >= 1514 and row[w] <= 1536:
        val = '3L'
    elif row[w] >= 1537 and row[w] <= 1559:
        val = '3H'
    else:
        val = '4'
    return val

In [20]:
fifth[y] = fifth.apply(f, axis=1)
fifth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/107300985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifth[y] = fifth.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
29,4.0,8515028463,1093872,5,4,1512,1491,2H
36,4.0,9431212375,1092365,5,4,1528,1546,3L
43,4.0,4472669700,1092402,5,4,1582,1521,4
46,4.0,2470731930,1095464,5,4,1575,1500,4
87,4.0,9290729823,1095115,5,4,1616,1527,4
89,4.0,2342121625,1092751,5,4,1538,1479,3H
90,4.0,2339387807,1092352,5,4,1505,1463,2H
125,4.0,3681150276,1092398,5,4,1563,1546,4
129,4.0,8739749441,1094579,5,4,1475,1454,2L
134,4.0,1783950120,1092344,5,4,1528,1505,3L
159,4.0,9432330445,1092399,5,4,1589,1518,4
161,4.0,1660648566,1093556,5,4,1662,1545,4
163,4.0,5480793538,1092351,5,4,1500,1474,2H
164,4.0,8915211055,1095455,5,4,1459,1438,1
169,4.0,9458406988,1092413,5,4,1568,1528,4
213,4.0,1591743600,1095456,5,4,1578,1525,4
227,4.0,9535959134,1095495,5,4,1389,1385,1
233,4.0,2697697056,1096016,5,4,1515,1477,3L
237,4.0,7112169551,1094262,5,4,1569,1536,4
239,4.0,8520373146,1092338,5,4,1600,1525,4
247,4.0,1185076822,1093611,5,4,1510,1491,2H
259,4.0,1653156347,1092416,5,4,1477,1471,2L
263,4.0,3440782102,1095633,5,4,1519,1518,3L
268,4.0,8182270890,1092340,5,4,1572,1504,4
269,4.0,7978794895,1093773,5,4,1482,1450,2L
288,4.0,8188745635,1092314,5,4,1465,1453,1
294,4.0,9380541870,1092392,5,4,1572,1539,4
315,4.0,5276944023,1092390,5,4,1532,1490,3L
326,4.0,6796705645,1092377,5,4,1530,1513,3L
334,4.0,4528695341,1095124,5,4,1583,1533,4
355,4.0,5679891268,1095920,5,4,1487,1471,2L
361,4.0,2528718388,1094770,5,4,1496,1487,2H
370,NaN,3199740816,1096045,5,4,1495,1471,2H
374,4.0,3936743504,1094528,5,4,1566,1525,4
376,4.0,8328381423,1095463,5,4,1503,1500,2H
383,4.0,3384775214,1095458,5,4,1642,1533,4
407,4.0,3322538616,1092396,5,4,1505,1493,2H
408,4.0,5123814750,1092391,5,4,1544,1528,3H
421,4.0,9097554756,1092404,5,4,1548,1548,3H
425,4.0,2334509550,1092388,5,4,1464,1416,1
436,4.0,7153969228,1095460,5,4,1435,1398,1
443,4.0,3352403733,1093904,5,4,1496,1537,2H
448,4.0,3963409266,1092733,5,4,1498,1461,2H
462,4.0,2942162932,1095911,5,4,1559,1463,3H
471,4.0,8954672804,1093807,5,4,1566,1517,4
479,4.0,8945537163,1092347,5,4,1541,1490,3H

In [21]:
def g(row):
    if row[x] <= 1458: 
        val = "1"
    elif row[x] >= 1459 and row[x] <= 1478:
        val = "2L"
    elif row[x] >= 1479 and row[x] <= 1498:
        val = "2H"
    elif row[x] >= 1499 and row[x] <= 1523:
        val = '3L'
    elif row[x] >= 1524 and row[x] <= 1548:
        val = '3H'
    else:
        val = '4'
    return val

In [22]:
fifth[z] = fifth.apply(g, axis=1)
fifth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/3043080165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fifth[z] = fifth.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
29,4.0,8515028463,1093872,5,4,1512,1491,2H,2H
36,4.0,9431212375,1092365,5,4,1528,1546,3L,3H
43,4.0,4472669700,1092402,5,4,1582,1521,4,3L
46,4.0,2470731930,1095464,5,4,1575,1500,4,3L
87,4.0,9290729823,1095115,5,4,1616,1527,4,3H
89,4.0,2342121625,1092751,5,4,1538,1479,3H,2H
90,4.0,2339387807,1092352,5,4,1505,1463,2H,2L
125,4.0,3681150276,1092398,5,4,1563,1546,4,3H
129,4.0,8739749441,1094579,5,4,1475,1454,2L,1
134,4.0,1783950120,1092344,5,4,1528,1505,3L,3L
159,4.0,9432330445,1092399,5,4,1589,1518,4,3L
161,4.0,1660648566,1093556,5,4,1662,1545,4,3H
163,4.0,5480793538,1092351,5,4,1500,1474,2H,2L
164,4.0,8915211055,1095455,5,4,1459,1438,1,1
169,4.0,9458406988,1092413,5,4,1568,1528,4,3H
213,4.0,1591743600,1095456,5,4,1578,1525,4,3H
227,4.0,9535959134,1095495,5,4,1389,1385,1,1
233,4.0,2697697056,1096016,5,4,1515,1477,3L,2L
237,4.0,7112169551,1094262,5,4,1569,1536,4,3H
239,4.0,8520373146,1092338,5,4,1600,1525,4,3H
247,4.0,1185076822,1093611,5,4,1510,1491,2H,2H
259,4.0,1653156347,1092416,5,4,1477,1471,2L,2L
263,4.0,3440782102,1095633,5,4,1519,1518,3L,3L
268,4.0,8182270890,1092340,5,4,1572,1504,4,3L
269,4.0,7978794895,1093773,5,4,1482,1450,2L,1
288,4.0,8188745635,1092314,5,4,1465,1453,1,1
294,4.0,9380541870,1092392,5,4,1572,1539,4,3H
315,4.0,5276944023,1092390,5,4,1532,1490,3L,2H
326,4.0,6796705645,1092377,5,4,1530,1513,3L,3L
334,4.0,4528695341,1095124,5,4,1583,1533,4,3H
355,4.0,5679891268,1095920,5,4,1487,1471,2L,2L
361,4.0,2528718388,1094770,5,4,1496,1487,2H,2H
370,NaN,3199740816,1096045,5,4,1495,1471,2H,2L
374,4.0,3936743504,1094528,5,4,1566,1525,4,3H
376,4.0,8328381423,1095463,5,4,1503,1500,2H,3L
383,4.0,3384775214,1095458,5,4,1642,1533,4,3H
407,4.0,3322538616,1092396,5,4,1505,1493,2H,2H
408,4.0,5123814750,1092391,5,4,1544,1528,3H,3H
421,4.0,9097554756,1092404,5,4,1548,1548,3H,3H
425,4.0,2334509550,1092388,5,4,1464,1416,1,1
436,4.0,7153969228,1095460,5,4,1435,1398,1,1
443,4.0,3352403733,1093904,5,4,1496,1537,2H,3H
448,4.0,3963409266,1092733,5,4,1498,1461,2H,2L
462,4.0,2942162932,1095911,5,4,1559,1463,3H,2L
471,4.0,8954672804,1093807,5,4,1566,1517,4,3L
479,4.0,8945537163,1092347,5,4,1541,1490,3H,2H

In [23]:
sixth = elpac_scores[elpac_scores['GradeAssessed'] == 6]
sixth

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
14,2.0,1526402171,1092982,6,5,1523,1531
18,2.0,5398923543,1094591,6,5,1433,1427
19,2.0,5106185119,1092752,6,5,1541,1545
24,2.0,1740431338,1092736,6,5,1502,1498
25,2.0,9789279783,1092457,6,5,1543,1543
27,2.0,9580607054,1095174,6,5,1460,1488
30,2.0,3434559748,1094527,6,5,1535,1549
34,2.0,7514618185,1092742,6,5,1525,1508
37,2.0,9979513108,1092964,6,5,1546,1542
38,2.0,7474748668,1095693,6,5,1496,1511
41,2.0,1343033987,1094648,6,5,1420,1458
45,2.0,9738907817,1092967,6,5,1511,1543
54,2.0,4326406762,1092460,6,5,1506,1525
55,2.0,1042522637,1095492,6,5,1567,1521
56,2.0,6989511407,1093899,6,5,1538,1515
58,2.0,9403512671,1095589,6,5,1494,1476
66,2.0,7297979411,1093032,6,5,1501,1539
127,2.0,9229722085,1095494,6,5,1414,1395
128,2.0,9148514657,1093343,6,5,1554,1536
162,2.0,1406719912,1095651,6,5,1564,1517
170,2.0,6445782077,1095508,6,5,1477,1531
180,2.0,9476879264,1093898,6,5,1589,1542
183,2.0,7395095035,1092458,6,5,1514,1535
208,2.0,9633209635,1092969,6,5,1531,1526
216,2.0,6570186221,1095803,6,5,1520,1508
222,2.0,8130372974,1092984,6,5,1517,1466
242,2.0,9124760957,1095158,6,5,1567,1552
267,2.0,2392753072,1094701,6,5,1530,1493
291,2.0,3143044271,1095488,6,5,1457,1458
293,2.0,8657556175,1092753,6,5,1480,1518
303,2.0,8016203406,1093450,6,5,1507,1495
311,2.0,8253818166,1093897,6,5,1550,1558
316,2.0,4505641007,1094794,6,5,1479,1478
323,2.0,8948989721,1092966,6,5,1452,1483
341,2.0,8745372764,1094609,6,5,1492,1486
364,2.0,3629121208,1093199,6,5,1520,1513
368,2.0,9751804571,1092998,6,5,1542,1556
381,2.0,3127029513,1092829,6,5,1515,1551
391,2.0,6503248012,1095999,6,5,1486,1489
392,2.0,1208648935,1095081,6,5,1495,1525
399,2.0,5548798293,1092438,6,5,1493,1522
429,2.0,5739720772,1096026,6,5,1544,1551
430,2.0,3051992035,1093901,6,5,1496,1544
432,2.0,6932290094,1094656,6,5,1509,1531
438,2.0,8680401314,1094421,6,5,1507,1497
454,2.0,3043706872,1092962,6,5,1480,1487
469,2.0,2462215487,1094682,6,5,1494,1499
478,2.0,1469051730,1095696,6,5,1581,1536

In [24]:
def f(row):
    if row[w] <= 1474: 
        val = "1"
    elif row[w] >= 1475 and row[w] <= 1495:
        val = "2L"
    elif row[w] >= 1496 and row[w] <= 1516:
        val = "2H"
    elif row[w] >= 1517 and row[w] <= 1541:
        val = '3L'
    elif row[w] >= 1542 and row[w] <= 1566:
        val = '3H'
    else:
        val = '4'
    return val

In [25]:
sixth[y] = sixth.apply(f, axis=1)
sixth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/3291824610.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sixth[y] = sixth.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
14,2.0,1526402171,1092982,6,5,1523,1531,3L
18,2.0,5398923543,1094591,6,5,1433,1427,1
19,2.0,5106185119,1092752,6,5,1541,1545,3L
24,2.0,1740431338,1092736,6,5,1502,1498,2H
25,2.0,9789279783,1092457,6,5,1543,1543,3H
27,2.0,9580607054,1095174,6,5,1460,1488,1
30,2.0,3434559748,1094527,6,5,1535,1549,3L
34,2.0,7514618185,1092742,6,5,1525,1508,3L
37,2.0,9979513108,1092964,6,5,1546,1542,3H
38,2.0,7474748668,1095693,6,5,1496,1511,2H
41,2.0,1343033987,1094648,6,5,1420,1458,1
45,2.0,9738907817,1092967,6,5,1511,1543,2H
54,2.0,4326406762,1092460,6,5,1506,1525,2H
55,2.0,1042522637,1095492,6,5,1567,1521,4
56,2.0,6989511407,1093899,6,5,1538,1515,3L
58,2.0,9403512671,1095589,6,5,1494,1476,2L
66,2.0,7297979411,1093032,6,5,1501,1539,2H
127,2.0,9229722085,1095494,6,5,1414,1395,1
128,2.0,9148514657,1093343,6,5,1554,1536,3H
162,2.0,1406719912,1095651,6,5,1564,1517,3H
170,2.0,6445782077,1095508,6,5,1477,1531,2L
180,2.0,9476879264,1093898,6,5,1589,1542,4
183,2.0,7395095035,1092458,6,5,1514,1535,2H
208,2.0,9633209635,1092969,6,5,1531,1526,3L
216,2.0,6570186221,1095803,6,5,1520,1508,3L
222,2.0,8130372974,1092984,6,5,1517,1466,3L
242,2.0,9124760957,1095158,6,5,1567,1552,4
267,2.0,2392753072,1094701,6,5,1530,1493,3L
291,2.0,3143044271,1095488,6,5,1457,1458,1
293,2.0,8657556175,1092753,6,5,1480,1518,2L
303,2.0,8016203406,1093450,6,5,1507,1495,2H
311,2.0,8253818166,1093897,6,5,1550,1558,3H
316,2.0,4505641007,1094794,6,5,1479,1478,2L
323,2.0,8948989721,1092966,6,5,1452,1483,1
341,2.0,8745372764,1094609,6,5,1492,1486,2L
364,2.0,3629121208,1093199,6,5,1520,1513,3L
368,2.0,9751804571,1092998,6,5,1542,1556,3H
381,2.0,3127029513,1092829,6,5,1515,1551,2H
391,2.0,6503248012,1095999,6,5,1486,1489,2L
392,2.0,1208648935,1095081,6,5,1495,1525,2L
399,2.0,5548798293,1092438,6,5,1493,1522,2L
429,2.0,5739720772,1096026,6,5,1544,1551,3H
430,2.0,3051992035,1093901,6,5,1496,1544,2H
432,2.0,6932290094,1094656,6,5,1509,1531,2H
438,2.0,8680401314,1094421,6,5,1507,1497,2H
454,2.0,3043706872,1092962,6,5,1480,1487,2L
469,2.0,2462215487,1094682,6,5,1494,1499,2L
478,2.0,1469051730,1095696,6,5,1581,1536,4

In [26]:
def g(row):
    if row[x] <= 1466:
        val = "1"
    elif row[x] >= 1467 and row[x] <= 1489:
        val = "2L"
    elif row[x] >= 1490 and row[x] <= 1513:
        val = "2H"
    elif row[x] >= 1514 and row[x] <= 1536:
        val = '3L'
    elif row[x] >= 1537 and row[x] <= 1559:
        val = '3H'
    else:
        val = '4'
    return val

In [27]:
sixth[z] = sixth.apply(g, axis=1)
sixth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/939776777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sixth[z] = sixth.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
14,2.0,1526402171,1092982,6,5,1523,1531,3L,3L
18,2.0,5398923543,1094591,6,5,1433,1427,1,1
19,2.0,5106185119,1092752,6,5,1541,1545,3L,3H
24,2.0,1740431338,1092736,6,5,1502,1498,2H,2H
25,2.0,9789279783,1092457,6,5,1543,1543,3H,3H
27,2.0,9580607054,1095174,6,5,1460,1488,1,2L
30,2.0,3434559748,1094527,6,5,1535,1549,3L,3H
34,2.0,7514618185,1092742,6,5,1525,1508,3L,2H
37,2.0,9979513108,1092964,6,5,1546,1542,3H,3H
38,2.0,7474748668,1095693,6,5,1496,1511,2H,2H
41,2.0,1343033987,1094648,6,5,1420,1458,1,1
45,2.0,9738907817,1092967,6,5,1511,1543,2H,3H
54,2.0,4326406762,1092460,6,5,1506,1525,2H,3L
55,2.0,1042522637,1095492,6,5,1567,1521,4,3L
56,2.0,6989511407,1093899,6,5,1538,1515,3L,3L
58,2.0,9403512671,1095589,6,5,1494,1476,2L,2L
66,2.0,7297979411,1093032,6,5,1501,1539,2H,3H
127,2.0,9229722085,1095494,6,5,1414,1395,1,1
128,2.0,9148514657,1093343,6,5,1554,1536,3H,3L
162,2.0,1406719912,1095651,6,5,1564,1517,3H,3L
170,2.0,6445782077,1095508,6,5,1477,1531,2L,3L
180,2.0,9476879264,1093898,6,5,1589,1542,4,3H
183,2.0,7395095035,1092458,6,5,1514,1535,2H,3L
208,2.0,9633209635,1092969,6,5,1531,1526,3L,3L
216,2.0,6570186221,1095803,6,5,1520,1508,3L,2H
222,2.0,8130372974,1092984,6,5,1517,1466,3L,1
242,2.0,9124760957,1095158,6,5,1567,1552,4,3H
267,2.0,2392753072,1094701,6,5,1530,1493,3L,2H
291,2.0,3143044271,1095488,6,5,1457,1458,1,1
293,2.0,8657556175,1092753,6,5,1480,1518,2L,3L
303,2.0,8016203406,1093450,6,5,1507,1495,2H,2H
311,2.0,8253818166,1093897,6,5,1550,1558,3H,3H
316,2.0,4505641007,1094794,6,5,1479,1478,2L,2L
323,2.0,8948989721,1092966,6,5,1452,1483,1,2L
341,2.0,8745372764,1094609,6,5,1492,1486,2L,2L
364,2.0,3629121208,1093199,6,5,1520,1513,3L,2H
368,2.0,9751804571,1092998,6,5,1542,1556,3H,3H
381,2.0,3127029513,1092829,6,5,1515,1551,2H,3H
391,2.0,6503248012,1095999,6,5,1486,1489,2L,2L
392,2.0,1208648935,1095081,6,5,1495,1525,2L,3L
399,2.0,5548798293,1092438,6,5,1493,1522,2L,3L
429,2.0,5739720772,1096026,6,5,1544,1551,3H,3H
430,2.0,3051992035,1093901,6,5,1496,1544,2H,3H
432,2.0,6932290094,1094656,6,5,1509,1531,2H,3L
438,2.0,8680401314,1094421,6,5,1507,1497,2H,2H
454,2.0,3043706872,1092962,6,5,1480,1487,2L,2L
469,2.0,2462215487,1094682,6,5,1494,1499,2L,2H
478,2.0,1469051730,1095696,6,5,1581,1536,4,3L

In [28]:
seventh = elpac_scores[elpac_scores['GradeAssessed'] == 7]
seventh

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
4,2.0,2301556408,1093616,7,6,1577,1509
32,2.0,3193438983,1093039,7,6,1491,1499
40,2.0,5187199353,1093027,7,6,1618,1563
70,2.0,4991709813,1095667,7,6,1384,1331
73,2.0,1732209131,1093011,7,6,1577,1534
74,2.0,5264513886,1093950,7,6,1497,1463
91,2.0,4045065377,1093345,7,6,1535,1540
97,2.0,1316475325,1095875,7,6,1521,1540
114,2.0,1385801785,1093935,7,6,1603,1547
136,2.0,7354215674,1093958,7,6,1618,1555
160,2.0,2551636473,1093540,7,6,1515,1481
166,2.0,7734240235,1093004,7,6,1567,1509
173,2.0,7526537054,1095532,7,6,1541,1507
178,2.0,5354460044,1093955,7,6,1548,1491
192,2.0,1591477277,1094832,7,6,1465,1488
202,2.0,4490095768,1095629,7,6,1501,1505
209,2.0,9151626508,1095904,7,6,1540,1523
231,2.0,6679643365,1094736,7,6,1546,1509
236,2.0,9471350351,1093349,7,6,1577,1518
246,2.0,8640059681,1094804,7,6,1581,1529
253,2.0,4900384530,1093947,7,6,1462,1444
254,2.0,5458680033,1093582,7,6,1488,1489
264,2.0,2647650587,1093966,7,6,1600,1531
285,2.0,6537543715,1095914,7,6,1474,1505
289,2.0,3082772114,1094013,7,6,1506,1516
292,2.0,7438559152,1094592,7,6,1492,1468
295,2.0,8029355051,1093902,7,6,1550,1531
320,2.0,5976321298,1093038,7,6,1474,1486
330,2.0,5209476895,1094472,7,6,1593,1508
339,2.0,3235532984,1093005,7,6,1506,1457
353,2.0,2669876122,1093697,7,6,1533,1481
357,2.0,2322637817,1093964,7,6,1555,1532
362,2.0,3357995826,1095519,7,6,1560,1494
396,2.0,8038939274,1093529,7,6,1505,1500
397,2.0,2973355266,1095634,7,6,1600,1492
403,2.0,5049982394,1094767,7,6,1543,1481
405,2.0,9187722101,1095893,7,6,1494,1497
412,2.0,6951058920,1093348,7,6,1604,1565
433,2.0,3928300986,1093670,7,6,1482,1486
461,2.0,4227072197,1095514,7,6,1394,1385
472,2.0,3067763962,1093409,7,6,1500,1502
480,2.0,6723298798,1094041,7,6,1553,1549

In [29]:
def f(row):
    if row[w] <= 1480: 
        val = "1"
    elif row[w] >= 1481 and row[w] <= 1503:
        val = "2L"
    elif row[w] >= 1504 and row[w] <= 1526:
        val = "2H"
    elif row[w] >= 1527 and row[w] <= 1550:
        val = '3L'
    elif row[w] >= 1551 and row[w] <= 1575:
        val = '3H'
    else:
        val = '4'
    return val

In [30]:
seventh[y] = seventh.apply(f, axis=1)
seventh

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/966044977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seventh[y] = seventh.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
4,2.0,2301556408,1093616,7,6,1577,1509,4
32,2.0,3193438983,1093039,7,6,1491,1499,2L
40,2.0,5187199353,1093027,7,6,1618,1563,4
70,2.0,4991709813,1095667,7,6,1384,1331,1
73,2.0,1732209131,1093011,7,6,1577,1534,4
74,2.0,5264513886,1093950,7,6,1497,1463,2L
91,2.0,4045065377,1093345,7,6,1535,1540,3L
97,2.0,1316475325,1095875,7,6,1521,1540,2H
114,2.0,1385801785,1093935,7,6,1603,1547,4
136,2.0,7354215674,1093958,7,6,1618,1555,4
160,2.0,2551636473,1093540,7,6,1515,1481,2H
166,2.0,7734240235,1093004,7,6,1567,1509,3H
173,2.0,7526537054,1095532,7,6,1541,1507,3L
178,2.0,5354460044,1093955,7,6,1548,1491,3L
192,2.0,1591477277,1094832,7,6,1465,1488,1
202,2.0,4490095768,1095629,7,6,1501,1505,2L
209,2.0,9151626508,1095904,7,6,1540,1523,3L
231,2.0,6679643365,1094736,7,6,1546,1509,3L
236,2.0,9471350351,1093349,7,6,1577,1518,4
246,2.0,8640059681,1094804,7,6,1581,1529,4
253,2.0,4900384530,1093947,7,6,1462,1444,1
254,2.0,5458680033,1093582,7,6,1488,1489,2L
264,2.0,2647650587,1093966,7,6,1600,1531,4
285,2.0,6537543715,1095914,7,6,1474,1505,1
289,2.0,3082772114,1094013,7,6,1506,1516,2H
292,2.0,7438559152,1094592,7,6,1492,1468,2L
295,2.0,8029355051,1093902,7,6,1550,1531,3L
320,2.0,5976321298,1093038,7,6,1474,1486,1
330,2.0,5209476895,1094472,7,6,1593,1508,4
339,2.0,3235532984,1093005,7,6,1506,1457,2H
353,2.0,2669876122,1093697,7,6,1533,1481,3L
357,2.0,2322637817,1093964,7,6,1555,1532,3H
362,2.0,3357995826,1095519,7,6,1560,1494,3H
396,2.0,8038939274,1093529,7,6,1505,1500,2H
397,2.0,2973355266,1095634,7,6,1600,1492,4
403,2.0,5049982394,1094767,7,6,1543,1481,3L
405,2.0,9187722101,1095893,7,6,1494,1497,2L
412,2.0,6951058920,1093348,7,6,1604,1565,4
433,2.0,3928300986,1093670,7,6,1482,1486,2L
461,2.0,4227072197,1095514,7,6,1394,1385,1
472,2.0,3067763962,1093409,7,6,1500,1502,2L
480,2.0,6723298798,1094041,7,6,1553,1549,3H

In [31]:
def g(row):
    if row[x] <= 1474: 
        val = "1"
    elif row[x] >= 1475 and row[x] <= 1495:
        val = "2L"
    elif row[x] >= 1496 and row[x] <= 1516:
        val = "2H"
    elif row[x] >= 1517 and row[x] <= 1541:
        val = '3L'
    elif row[x] >= 1542 and row[x] <= 1566:
        val = '3H'
    else:
        val = '4'
    return val

In [32]:
seventh[z] = seventh.apply(g, axis=1)
seventh

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/2303843862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seventh[z] = seventh.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
4,2.0,2301556408,1093616,7,6,1577,1509,4,2H
32,2.0,3193438983,1093039,7,6,1491,1499,2L,2H
40,2.0,5187199353,1093027,7,6,1618,1563,4,3H
70,2.0,4991709813,1095667,7,6,1384,1331,1,1
73,2.0,1732209131,1093011,7,6,1577,1534,4,3L
74,2.0,5264513886,1093950,7,6,1497,1463,2L,1
91,2.0,4045065377,1093345,7,6,1535,1540,3L,3L
97,2.0,1316475325,1095875,7,6,1521,1540,2H,3L
114,2.0,1385801785,1093935,7,6,1603,1547,4,3H
136,2.0,7354215674,1093958,7,6,1618,1555,4,3H
160,2.0,2551636473,1093540,7,6,1515,1481,2H,2L
166,2.0,7734240235,1093004,7,6,1567,1509,3H,2H
173,2.0,7526537054,1095532,7,6,1541,1507,3L,2H
178,2.0,5354460044,1093955,7,6,1548,1491,3L,2L
192,2.0,1591477277,1094832,7,6,1465,1488,1,2L
202,2.0,4490095768,1095629,7,6,1501,1505,2L,2H
209,2.0,9151626508,1095904,7,6,1540,1523,3L,3L
231,2.0,6679643365,1094736,7,6,1546,1509,3L,2H
236,2.0,9471350351,1093349,7,6,1577,1518,4,3L
246,2.0,8640059681,1094804,7,6,1581,1529,4,3L
253,2.0,4900384530,1093947,7,6,1462,1444,1,1
254,2.0,5458680033,1093582,7,6,1488,1489,2L,2L
264,2.0,2647650587,1093966,7,6,1600,1531,4,3L
285,2.0,6537543715,1095914,7,6,1474,1505,1,2H
289,2.0,3082772114,1094013,7,6,1506,1516,2H,2H
292,2.0,7438559152,1094592,7,6,1492,1468,2L,1
295,2.0,8029355051,1093902,7,6,1550,1531,3L,3L
320,2.0,5976321298,1093038,7,6,1474,1486,1,2L
330,2.0,5209476895,1094472,7,6,1593,1508,4,2H
339,2.0,3235532984,1093005,7,6,1506,1457,2H,1
353,2.0,2669876122,1093697,7,6,1533,1481,3L,2L
357,2.0,2322637817,1093964,7,6,1555,1532,3H,3L
362,2.0,3357995826,1095519,7,6,1560,1494,3H,2L
396,2.0,8038939274,1093529,7,6,1505,1500,2H,2H
397,2.0,2973355266,1095634,7,6,1600,1492,4,2L
403,2.0,5049982394,1094767,7,6,1543,1481,3L,2L
405,2.0,9187722101,1095893,7,6,1494,1497,2L,2H
412,2.0,6951058920,1093348,7,6,1604,1565,4,3H
433,2.0,3928300986,1093670,7,6,1482,1486,2L,2L
461,2.0,4227072197,1095514,7,6,1394,1385,1,1
472,2.0,3067763962,1093409,7,6,1500,1502,2L,2H
480,2.0,6723298798,1094041,7,6,1553,1549,3H,3H

In [33]:
eighth = elpac_scores[elpac_scores['GradeAssessed'] == 8]
eighth

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
22,2.0,7211473470,1093050,8,7,1584,1528
48,2.0,5537020151,1093061,8,7,1541,1496
57,2.0,8651891024,1093071,8,7,1567,1571
61,2.0,3603359013,1094698,8,7,1552,1556
71,2.0,1601259344,1094963,8,7,1561,1536
83,2.0,8741559936,1095163,8,7,1562,1560
100,2.0,5004299316,1093043,8,7,1575,1528
103,2.0,5317136605,1094649,8,7,1507,1508
115,2.0,6235766526,1095780,8,7,1580,1519
122,2.0,4747138121,1093054,8,7,1566,1547
142,NaN,6993712798,1094679,8,7,1560,1505
144,2.0,5329728483,1093058,8,7,1575,1534
184,2.0,7176803995,1094872,8,7,1593,1572
199,2.0,9635907374,1095873,8,7,1585,1555
211,2.0,2509620603,1093617,8,7,1612,1567
223,2.0,4752795104,1094913,8,7,1552,1563
266,2.0,5489126717,1095676,8,7,1428,1296
273,2.0,3760578966,1094054,8,7,1450,1446
274,2.0,3253893658,1093059,8,7,1587,1541
282,2.0,2093319281,1094879,8,7,1557,1524
329,2.0,5272038652,1094811,8,7,1470,1481
333,2.0,7183747844,1094914,8,7,1580,1539
335,2.0,4093166441,1093879,8,7,1499,1502
337,2.0,4583421437,1094048,8,7,1532,1521
350,2.0,4600297181,1093046,8,7,1515,1528
351,2.0,1781969938,1094316,8,7,1507,1483
359,2.0,1603595878,1093051,8,7,1570,1510
365,2.0,5368912211,1095609,8,7,1481,1398
372,2.0,1761601307,1095544,8,7,1560,1520
387,2.0,3511457368,1093999,8,7,1502,1498
394,2.0,4680493288,1095541,8,7,1490,1470
426,2.0,1392483025,1093998,8,7,1580,1559
449,2.0,9315512706,1095120,8,7,1580,1517
451,2.0,8167846217,1095677,8,7,1523,1516
477,2.0,5134559837,1095588,8,7,1512,1523

In [34]:
def f(row):
    if row[w] <= 1485:
        val = "1"
    elif row[w] >= 1486 and row[w] <= 1509:
        val = "2L"
    elif row[w] >= 1510 and row[w] <= 1533:
        val = "2H"
    elif row[w] >= 1534 and row[w] <= 1561:
        val = '3L'
    elif row[w] >= 1562 and row[w] <= 1589:
        val = '3H'
    else:
        val = '4'
    return val

In [35]:
eighth[y] = eighth.apply(f, axis=1)
eighth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/889503423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eighth[y] = eighth.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
22,2.0,7211473470,1093050,8,7,1584,1528,3H
48,2.0,5537020151,1093061,8,7,1541,1496,3L
57,2.0,8651891024,1093071,8,7,1567,1571,3H
61,2.0,3603359013,1094698,8,7,1552,1556,3L
71,2.0,1601259344,1094963,8,7,1561,1536,3L
83,2.0,8741559936,1095163,8,7,1562,1560,3H
100,2.0,5004299316,1093043,8,7,1575,1528,3H
103,2.0,5317136605,1094649,8,7,1507,1508,2L
115,2.0,6235766526,1095780,8,7,1580,1519,3H
122,2.0,4747138121,1093054,8,7,1566,1547,3H
142,NaN,6993712798,1094679,8,7,1560,1505,3L
144,2.0,5329728483,1093058,8,7,1575,1534,3H
184,2.0,7176803995,1094872,8,7,1593,1572,4
199,2.0,9635907374,1095873,8,7,1585,1555,3H
211,2.0,2509620603,1093617,8,7,1612,1567,4
223,2.0,4752795104,1094913,8,7,1552,1563,3L
266,2.0,5489126717,1095676,8,7,1428,1296,1
273,2.0,3760578966,1094054,8,7,1450,1446,1
274,2.0,3253893658,1093059,8,7,1587,1541,3H
282,2.0,2093319281,1094879,8,7,1557,1524,3L
329,2.0,5272038652,1094811,8,7,1470,1481,1
333,2.0,7183747844,1094914,8,7,1580,1539,3H
335,2.0,4093166441,1093879,8,7,1499,1502,2L
337,2.0,4583421437,1094048,8,7,1532,1521,2H
350,2.0,4600297181,1093046,8,7,1515,1528,2H
351,2.0,1781969938,1094316,8,7,1507,1483,2L
359,2.0,1603595878,1093051,8,7,1570,1510,3H
365,2.0,5368912211,1095609,8,7,1481,1398,1
372,2.0,1761601307,1095544,8,7,1560,1520,3L
387,2.0,3511457368,1093999,8,7,1502,1498,2L
394,2.0,4680493288,1095541,8,7,1490,1470,2L
426,2.0,1392483025,1093998,8,7,1580,1559,3H
449,2.0,9315512706,1095120,8,7,1580,1517,3H
451,2.0,8167846217,1095677,8,7,1523,1516,2H
477,2.0,5134559837,1095588,8,7,1512,1523,2H

In [36]:
def g(row):
    if row[x] <= 1480:
        val = "1"
    elif row[x] >= 1481 and row[x] <= 1503:
        val = "2L"
    elif row[x] >= 1504 and row[x] <= 1526:
        val = "2H"
    elif row[x] >= 1527 and row[x] <= 1550:
        val = '3L'
    elif row[x] >= 1551 and row[x] <= 1575:
        val = '3H'
    else:
        val = '4'
    return val

In [37]:
eighth[z] = eighth.apply(g, axis=1)
eighth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/3970609973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eighth[z] = eighth.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
22,2.0,7211473470,1093050,8,7,1584,1528,3H,3L
48,2.0,5537020151,1093061,8,7,1541,1496,3L,2L
57,2.0,8651891024,1093071,8,7,1567,1571,3H,3H
61,2.0,3603359013,1094698,8,7,1552,1556,3L,3H
71,2.0,1601259344,1094963,8,7,1561,1536,3L,3L
83,2.0,8741559936,1095163,8,7,1562,1560,3H,3H
100,2.0,5004299316,1093043,8,7,1575,1528,3H,3L
103,2.0,5317136605,1094649,8,7,1507,1508,2L,2H
115,2.0,6235766526,1095780,8,7,1580,1519,3H,2H
122,2.0,4747138121,1093054,8,7,1566,1547,3H,3L
142,NaN,6993712798,1094679,8,7,1560,1505,3L,2H
144,2.0,5329728483,1093058,8,7,1575,1534,3H,3L
184,2.0,7176803995,1094872,8,7,1593,1572,4,3H
199,2.0,9635907374,1095873,8,7,1585,1555,3H,3H
211,2.0,2509620603,1093617,8,7,1612,1567,4,3H
223,2.0,4752795104,1094913,8,7,1552,1563,3L,3H
266,2.0,5489126717,1095676,8,7,1428,1296,1,1
273,2.0,3760578966,1094054,8,7,1450,1446,1,1
274,2.0,3253893658,1093059,8,7,1587,1541,3H,3L
282,2.0,2093319281,1094879,8,7,1557,1524,3L,2H
329,2.0,5272038652,1094811,8,7,1470,1481,1,2L
333,2.0,7183747844,1094914,8,7,1580,1539,3H,3L
335,2.0,4093166441,1093879,8,7,1499,1502,2L,2L
337,2.0,4583421437,1094048,8,7,1532,1521,2H,2H
350,2.0,4600297181,1093046,8,7,1515,1528,2H,3L
351,2.0,1781969938,1094316,8,7,1507,1483,2L,2L
359,2.0,1603595878,1093051,8,7,1570,1510,3H,2H
365,2.0,5368912211,1095609,8,7,1481,1398,1,1
372,2.0,1761601307,1095544,8,7,1560,1520,3L,2H
387,2.0,3511457368,1093999,8,7,1502,1498,2L,2L
394,2.0,4680493288,1095541,8,7,1490,1470,2L,1
426,2.0,1392483025,1093998,8,7,1580,1559,3H,3H
449,2.0,9315512706,1095120,8,7,1580,1517,3H,2H
451,2.0,8167846217,1095677,8,7,1523,1516,2H,2H
477,2.0,5134559837,1095588,8,7,1512,1523,2H,2H

In [38]:
ninth = elpac_scores[elpac_scores['GradeAssessed'] == 9]
ninth

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
60,1.0,5568166326,1095131,9,8,1586,1526
75,1.0,6747786707,1094106,9,8,1544,1554
81,1.0,9305670238,1095554,9,8,1610,1561
84,1.0,2421168423,1094352,9,8,1587,1558
88,1.0,8105279005,1094587,9,8,1522,1509
99,1.0,5417188920,1094419,9,8,1590,1558
105,1.0,4507162018,1094815,9,8,1514,1512
133,1.0,9724500303,1094450,9,8,1552,1576
138,1.0,3923549447,1095552,9,8,1623,1581
167,1.0,9596995637,1093881,9,8,1501,1553
193,1.0,5679357917,1093091,9,8,1566,1578
197,1.0,1016585460,1094100,9,8,1666,1572
219,1.0,3578612883,1094133,9,8,1527,1532
224,1.0,5074470145,1093118,9,8,1559,1528
248,1.0,6641206446,1093109,9,8,1519,1533
257,1.0,3122974034,1094550,9,8,1556,1571
290,1.0,1253427063,1093510,9,8,1599,1576
307,1.0,2964840783,1094428,9,8,1533,1560
312,1.0,5580310454,1095166,9,8,1590,1587
342,1.0,9968707675,1095976,9,8,1494,1471
343,1.0,6247498037,1094875,9,8,1566,1515
346,1.0,1319639703,1094124,9,8,1594,1581
347,NaN,7255437107,1096038,9,8,1533,1552
366,1.0,4471832935,1094120,9,8,1476,1486
371,1.0,1415765428,1093877,9,8,1586,1534
373,1.0,8280855415,1093619,9,8,1468,1497
410,1.0,3171846194,1095802,9,8,1494,1433
446,1.0,7977955307,1093750,9,8,1535,1536
455,1.0,2489130775,1094966,9,8,1553,1521
460,1.0,4579446857,1094486,9,8,1560,1578

In [39]:
def f(row):
    if row[w] <= 1492:
        val = "1"
    elif row[w] >= 1493 and row[w] <= 1518:
        val = "2L"
    elif row[w] >= 1519 and row[w] <= 1544:
        val = "2H"
    elif row[w] >= 1545 and row[w] <= 1574:
        val = '3L'
    elif row[w] >= 1575 and row[w] <= 1605:
        val = '3H'
    else:
        val = '4'
    return val

In [40]:
ninth[y] = ninth.apply(f, axis=1)
ninth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/1394786070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ninth[y] = ninth.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
60,1.0,5568166326,1095131,9,8,1586,1526,3H
75,1.0,6747786707,1094106,9,8,1544,1554,2H
81,1.0,9305670238,1095554,9,8,1610,1561,4
84,1.0,2421168423,1094352,9,8,1587,1558,3H
88,1.0,8105279005,1094587,9,8,1522,1509,2H
99,1.0,5417188920,1094419,9,8,1590,1558,3H
105,1.0,4507162018,1094815,9,8,1514,1512,2L
133,1.0,9724500303,1094450,9,8,1552,1576,3L
138,1.0,3923549447,1095552,9,8,1623,1581,4
167,1.0,9596995637,1093881,9,8,1501,1553,2L
193,1.0,5679357917,1093091,9,8,1566,1578,3L
197,1.0,1016585460,1094100,9,8,1666,1572,4
219,1.0,3578612883,1094133,9,8,1527,1532,2H
224,1.0,5074470145,1093118,9,8,1559,1528,3L
248,1.0,6641206446,1093109,9,8,1519,1533,2H
257,1.0,3122974034,1094550,9,8,1556,1571,3L
290,1.0,1253427063,1093510,9,8,1599,1576,3H
307,1.0,2964840783,1094428,9,8,1533,1560,2H
312,1.0,5580310454,1095166,9,8,1590,1587,3H
342,1.0,9968707675,1095976,9,8,1494,1471,2L
343,1.0,6247498037,1094875,9,8,1566,1515,3L
346,1.0,1319639703,1094124,9,8,1594,1581,3H
347,NaN,7255437107,1096038,9,8,1533,1552,2H
366,1.0,4471832935,1094120,9,8,1476,1486,1
371,1.0,1415765428,1093877,9,8,1586,1534,3H
373,1.0,8280855415,1093619,9,8,1468,1497,1
410,1.0,3171846194,1095802,9,8,1494,1433,2L
446,1.0,7977955307,1093750,9,8,1535,1536,2H
455,1.0,2489130775,1094966,9,8,1553,1521,3L
460,1.0,4579446857,1094486,9,8,1560,1578,3L

In [41]:
def g(row):
    if row[x] <= 1485:
        val = "1"
    elif row[x] >= 1486 and row[x] <= 1509:
        val = "2L"
    elif row[x] >= 1510 and row[x] <= 1533:
        val = "2H"
    elif row[x] >= 1534 and row[x] <= 1561:
        val = '3L'
    elif row[x] >= 1562 and row[x] <= 1589:
        val = '3H'
    else:
        val = '4'
    return val

In [42]:
ninth[z] = ninth.apply(g, axis=1)
ninth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/2558866787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ninth[z] = ninth.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
60,1.0,5568166326,1095131,9,8,1586,1526,3H,2H
75,1.0,6747786707,1094106,9,8,1544,1554,2H,3L
81,1.0,9305670238,1095554,9,8,1610,1561,4,3L
84,1.0,2421168423,1094352,9,8,1587,1558,3H,3L
88,1.0,8105279005,1094587,9,8,1522,1509,2H,2L
99,1.0,5417188920,1094419,9,8,1590,1558,3H,3L
105,1.0,4507162018,1094815,9,8,1514,1512,2L,2H
133,1.0,9724500303,1094450,9,8,1552,1576,3L,3H
138,1.0,3923549447,1095552,9,8,1623,1581,4,3H
167,1.0,9596995637,1093881,9,8,1501,1553,2L,3L
193,1.0,5679357917,1093091,9,8,1566,1578,3L,3H
197,1.0,1016585460,1094100,9,8,1666,1572,4,3H
219,1.0,3578612883,1094133,9,8,1527,1532,2H,2H
224,1.0,5074470145,1093118,9,8,1559,1528,3L,2H
248,1.0,6641206446,1093109,9,8,1519,1533,2H,2H
257,1.0,3122974034,1094550,9,8,1556,1571,3L,3H
290,1.0,1253427063,1093510,9,8,1599,1576,3H,3H
307,1.0,2964840783,1094428,9,8,1533,1560,2H,3L
312,1.0,5580310454,1095166,9,8,1590,1587,3H,3H
342,1.0,9968707675,1095976,9,8,1494,1471,2L,1
343,1.0,6247498037,1094875,9,8,1566,1515,3L,2H
346,1.0,1319639703,1094124,9,8,1594,1581,3H,3H
347,NaN,7255437107,1096038,9,8,1533,1552,2H,3L
366,1.0,4471832935,1094120,9,8,1476,1486,1,2L
371,1.0,1415765428,1093877,9,8,1586,1534,3H,3L
373,1.0,8280855415,1093619,9,8,1468,1497,1,2L
410,1.0,3171846194,1095802,9,8,1494,1433,2L,1
446,1.0,7977955307,1093750,9,8,1535,1536,2H,3L
455,1.0,2489130775,1094966,9,8,1553,1521,3L,2H
460,1.0,4579446857,1094486,9,8,1560,1578,3L,3H

In [43]:
tenth = elpac_scores[elpac_scores['GradeAssessed'] == 10]
tenth

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
1,1.0,4532271208,1094484,10,9,1486,1457
15,1.0,2271130424,1095565,10,9,1570,1561
49,1.0,6560537185,1093592,10,9,1587,1574
53,1.0,1943641945,1095237,10,9,1564,1564
94,1.0,4078939015,1093213,10,9,1581,1485
96,1.0,5549682824,1093150,10,9,1608,1522
112,1.0,3565205976,1093789,10,9,1527,1535
113,1.0,8781706260,1093137,10,9,1566,1601
119,1.0,7224686122,1093208,10,9,1511,1517
140,1.0,5414713075,1093165,10,9,1553,1526
141,1.0,4338310544,1093175,10,9,1572,1564
143,1.0,7344335935,1093156,10,9,1600,1505
154,1.0,3936905796,1093169,10,9,1666,1594
157,1.0,3522566250,1093188,10,9,1537,1517
210,1.0,2683943368,1093211,10,9,1574,1524
220,1.0,8471574764,1093125,10,9,1545,1545
221,1.0,3176006670,1095093,10,9,1503,1519
226,1.0,9598723402,1093193,10,9,1517,1518
251,1.0,7557588055,1094658,10,9,1583,1575
270,1.0,3924468180,1093178,10,9,1594,1588
279,1.0,6593683746,1095959,10,9,1522,1537
298,1.0,4942480713,1095965,10,9,1541,1524
313,1.0,6676568695,1095987,10,9,1558,1485
318,1.0,2320339588,1093539,10,9,1536,1537
331,1.0,1270376673,1093785,10,9,1548,1546
369,1.0,6040435803,1093816,10,9,1546,1553
382,NaN,5145960881,1093149,10,9,1642,1611
395,1.0,8660014828,1095094,10,9,1553,1513
400,1.0,3342312922,1095227,10,9,1567,1546
415,1.0,4303630642,1093158,10,9,1685,1581
420,1.0,9093501630,1095600,10,9,1566,1565
428,1.0,8332759574,1093828,10,9,1448,1473
447,1.0,6190315356,1093786,10,9,1609,1530
453,1.0,2730343691,1094021,10,9,1574,1584
464,1.0,4528590974,1093212,10,9,1507,1527
473,NaN,6563075310,1093791,10,9,1593,1555

In [44]:
def f(row):
    if row[w] <= 1492:
        val = "1"
    elif row[w] >= 1493 and row[w] <= 1518:
        val = "2L"
    elif row[w] >= 1519 and row[w] <= 1544:
        val = "2H"
    elif row[w] >= 1545 and row[w] <= 1574:
        val = '3L'
    elif row[w] >= 1575 and row[w] <= 1605:
        val = '3H'
    else:
        val = '4'
    return val

In [45]:
tenth[y] = tenth.apply(f, axis=1)
tenth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/3161488334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenth[y] = tenth.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
1,1.0,4532271208,1094484,10,9,1486,1457,1
15,1.0,2271130424,1095565,10,9,1570,1561,3L
49,1.0,6560537185,1093592,10,9,1587,1574,3H
53,1.0,1943641945,1095237,10,9,1564,1564,3L
94,1.0,4078939015,1093213,10,9,1581,1485,3H
96,1.0,5549682824,1093150,10,9,1608,1522,4
112,1.0,3565205976,1093789,10,9,1527,1535,2H
113,1.0,8781706260,1093137,10,9,1566,1601,3L
119,1.0,7224686122,1093208,10,9,1511,1517,2L
140,1.0,5414713075,1093165,10,9,1553,1526,3L
141,1.0,4338310544,1093175,10,9,1572,1564,3L
143,1.0,7344335935,1093156,10,9,1600,1505,3H
154,1.0,3936905796,1093169,10,9,1666,1594,4
157,1.0,3522566250,1093188,10,9,1537,1517,2H
210,1.0,2683943368,1093211,10,9,1574,1524,3L
220,1.0,8471574764,1093125,10,9,1545,1545,3L
221,1.0,3176006670,1095093,10,9,1503,1519,2L
226,1.0,9598723402,1093193,10,9,1517,1518,2L
251,1.0,7557588055,1094658,10,9,1583,1575,3H
270,1.0,3924468180,1093178,10,9,1594,1588,3H
279,1.0,6593683746,1095959,10,9,1522,1537,2H
298,1.0,4942480713,1095965,10,9,1541,1524,2H
313,1.0,6676568695,1095987,10,9,1558,1485,3L
318,1.0,2320339588,1093539,10,9,1536,1537,2H
331,1.0,1270376673,1093785,10,9,1548,1546,3L
369,1.0,6040435803,1093816,10,9,1546,1553,3L
382,NaN,5145960881,1093149,10,9,1642,1611,4
395,1.0,8660014828,1095094,10,9,1553,1513,3L
400,1.0,3342312922,1095227,10,9,1567,1546,3L
415,1.0,4303630642,1093158,10,9,1685,1581,4
420,1.0,9093501630,1095600,10,9,1566,1565,3L
428,1.0,8332759574,1093828,10,9,1448,1473,1
447,1.0,6190315356,1093786,10,9,1609,1530,4
453,1.0,2730343691,1094021,10,9,1574,1584,3L
464,1.0,4528590974,1093212,10,9,1507,1527,2L
473,NaN,6563075310,1093791,10,9,1593,1555,3H

In [46]:
def g(row):
    if row[x] <= 1492:
        val = "1"
    elif row[x] >= 1493 and row[x] <= 1518:
        val = "2L"
    elif row[x] >= 1519 and row[x] <= 1544:
        val = "2H"
    elif row[x] >= 1545 and row[x] <= 1574:
        val = '3L'
    elif row[x] >= 1575 and row[x] <= 1605:
        val = '3H'
    else:
        val = '4'
    return val

In [47]:
tenth[z] = tenth.apply(g, axis=1)
tenth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/4104654044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tenth[z] = tenth.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
1,1.0,4532271208,1094484,10,9,1486,1457,1,1
15,1.0,2271130424,1095565,10,9,1570,1561,3L,3L
49,1.0,6560537185,1093592,10,9,1587,1574,3H,3L
53,1.0,1943641945,1095237,10,9,1564,1564,3L,3L
94,1.0,4078939015,1093213,10,9,1581,1485,3H,1
96,1.0,5549682824,1093150,10,9,1608,1522,4,2H
112,1.0,3565205976,1093789,10,9,1527,1535,2H,2H
113,1.0,8781706260,1093137,10,9,1566,1601,3L,3H
119,1.0,7224686122,1093208,10,9,1511,1517,2L,2L
140,1.0,5414713075,1093165,10,9,1553,1526,3L,2H
141,1.0,4338310544,1093175,10,9,1572,1564,3L,3L
143,1.0,7344335935,1093156,10,9,1600,1505,3H,2L
154,1.0,3936905796,1093169,10,9,1666,1594,4,3H
157,1.0,3522566250,1093188,10,9,1537,1517,2H,2L
210,1.0,2683943368,1093211,10,9,1574,1524,3L,2H
220,1.0,8471574764,1093125,10,9,1545,1545,3L,3L
221,1.0,3176006670,1095093,10,9,1503,1519,2L,2H
226,1.0,9598723402,1093193,10,9,1517,1518,2L,2L
251,1.0,7557588055,1094658,10,9,1583,1575,3H,3H
270,1.0,3924468180,1093178,10,9,1594,1588,3H,3H
279,1.0,6593683746,1095959,10,9,1522,1537,2H,2H
298,1.0,4942480713,1095965,10,9,1541,1524,2H,2H
313,1.0,6676568695,1095987,10,9,1558,1485,3L,1
318,1.0,2320339588,1093539,10,9,1536,1537,2H,2H
331,1.0,1270376673,1093785,10,9,1548,1546,3L,3L
369,1.0,6040435803,1093816,10,9,1546,1553,3L,3L
382,NaN,5145960881,1093149,10,9,1642,1611,4,4
395,1.0,8660014828,1095094,10,9,1553,1513,3L,2L
400,1.0,3342312922,1095227,10,9,1567,1546,3L,3L
415,1.0,4303630642,1093158,10,9,1685,1581,4,3H
420,1.0,9093501630,1095600,10,9,1566,1565,3L,3L
428,1.0,8332759574,1093828,10,9,1448,1473,1,1
447,1.0,6190315356,1093786,10,9,1609,1530,4,2H
453,1.0,2730343691,1094021,10,9,1574,1584,3L,3H
464,1.0,4528590974,1093212,10,9,1507,1527,2L,2H
473,NaN,6563075310,1093791,10,9,1593,1555,3H,3L

In [48]:
eleventh = elpac_scores[elpac_scores['GradeAssessed'] == 11]
eleventh

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
8,1.0,5165465736,1092487,11,10,1541,1494
11,1.0,7738291800,1092565,11,10,1567,1533
23,1.0,4188720238,1095570,11,10,1552,1566
63,1.0,4275911790,1095573,11,10,1546,1503
146,1.0,8407381678,1092494,11,10,1515,1505
165,1.0,3297289318,1092594,11,10,1569,1549
185,1.0,5407460493,1095571,11,10,1618,1583
198,1.0,7219456378,1092708,11,10,1521,1494
218,1.0,1939467295,1092504,11,10,1528,1511
249,1.0,3965563146,1094899,11,10,1513,1507
261,1.0,3163168012,1094980,11,10,1559,1580
283,1.0,5597825872,1094576,11,10,1570,1592
296,1.0,3543584681,1092558,11,10,1546,1506
304,1.0,8318313753,1092482,11,10,1538,1520
332,1.0,8919804813,1092524,11,10,1618,1549
336,1.0,6598927361,1094162,11,10,1525,1499
358,1.0,3577394564,1093641,11,10,1555,1546
439,1.0,6172984800,1092485,11,10,1583,1588
452,1.0,9756957497,1092569,11,10,1721,1600
456,1.0,3189882374,1092579,11,10,1583,1537
481,1.0,4761803542,1093233,11,10,1498,1558

In [49]:
def f(row):
    if row[w] <= 1499:
        val = "1"
    elif row[w] >= 1500 and row[w] <= 1526:
        val = "2L"
    elif row[w] >= 1527 and row[w] <= 1554:
        val = "2H"
    elif row[w] >= 1555 and row[w] <= 1584:
        val = '3L'
    elif row[w] >= 1585 and row[w] <= 1614:
        val = '3H'
    else:
        val = '4'
    return val

In [50]:
eleventh[y] = eleventh.apply(f, axis=1)
eleventh

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/1854137389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eleventh[y] = eleventh.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
8,1.0,5165465736,1092487,11,10,1541,1494,2H
11,1.0,7738291800,1092565,11,10,1567,1533,3L
23,1.0,4188720238,1095570,11,10,1552,1566,2H
63,1.0,4275911790,1095573,11,10,1546,1503,2H
146,1.0,8407381678,1092494,11,10,1515,1505,2L
165,1.0,3297289318,1092594,11,10,1569,1549,3L
185,1.0,5407460493,1095571,11,10,1618,1583,4
198,1.0,7219456378,1092708,11,10,1521,1494,2L
218,1.0,1939467295,1092504,11,10,1528,1511,2H
249,1.0,3965563146,1094899,11,10,1513,1507,2L
261,1.0,3163168012,1094980,11,10,1559,1580,3L
283,1.0,5597825872,1094576,11,10,1570,1592,3L
296,1.0,3543584681,1092558,11,10,1546,1506,2H
304,1.0,8318313753,1092482,11,10,1538,1520,2H
332,1.0,8919804813,1092524,11,10,1618,1549,4
336,1.0,6598927361,1094162,11,10,1525,1499,2L
358,1.0,3577394564,1093641,11,10,1555,1546,3L
439,1.0,6172984800,1092485,11,10,1583,1588,3L
452,1.0,9756957497,1092569,11,10,1721,1600,4
456,1.0,3189882374,1092579,11,10,1583,1537,3L
481,1.0,4761803542,1093233,11,10,1498,1558,1

In [51]:
def g(row):
    if row[x] <= 1492:
        val = "1"
    elif row[x] >= 1493 and row[x] <= 1518:
        val = "2L"
    elif row[x] >= 1519 and row[x] <= 1544:
        val = "2H"
    elif row[x] >= 1545 and row[x] <= 1574:
        val = '3L'
    elif row[x] >= 1575 and row[x] <= 1605:
        val = '3H'
    else:
        val = '4'
    return val

In [52]:
eleventh[z] = eleventh.apply(g, axis=1)
eleventh

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/300880541.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eleventh[z] = eleventh.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
8,1.0,5165465736,1092487,11,10,1541,1494,2H,2L
11,1.0,7738291800,1092565,11,10,1567,1533,3L,2H
23,1.0,4188720238,1095570,11,10,1552,1566,2H,3L
63,1.0,4275911790,1095573,11,10,1546,1503,2H,2L
146,1.0,8407381678,1092494,11,10,1515,1505,2L,2L
165,1.0,3297289318,1092594,11,10,1569,1549,3L,3L
185,1.0,5407460493,1095571,11,10,1618,1583,4,3H
198,1.0,7219456378,1092708,11,10,1521,1494,2L,2L
218,1.0,1939467295,1092504,11,10,1528,1511,2H,2L
249,1.0,3965563146,1094899,11,10,1513,1507,2L,2L
261,1.0,3163168012,1094980,11,10,1559,1580,3L,3H
283,1.0,5597825872,1094576,11,10,1570,1592,3L,3H
296,1.0,3543584681,1092558,11,10,1546,1506,2H,2L
304,1.0,8318313753,1092482,11,10,1538,1520,2H,2H
332,1.0,8919804813,1092524,11,10,1618,1549,4,3L
336,1.0,6598927361,1094162,11,10,1525,1499,2L,2L
358,1.0,3577394564,1093641,11,10,1555,1546,3L,3L
439,1.0,6172984800,1092485,11,10,1583,1588,3L,3H
452,1.0,9756957497,1092569,11,10,1721,1600,4,3H
456,1.0,3189882374,1092579,11,10,1583,1537,3L,2H
481,1.0,4761803542,1093233,11,10,1498,1558,1,3L

In [53]:
twelfth = elpac_scores[elpac_scores['GradeAssessed'] == 12]
twelfth

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
2,1.0,7398118361,1091983,12,11,1614,1565
6,1.0,4183544250,1095002,12,11,1559,1517
42,1.0,2179041265,1092004,12,11,1643,1593
72,1.0,6085294806,1094638,12,11,1525,1504
98,1.0,1171661591,1095024,12,11,1590,1599
109,1.0,2747506860,1094833,12,11,1555,1544
110,1.0,9779673598,1094588,12,11,1496,1492
139,1.0,6648746782,1092034,12,11,1566,1581
147,1.0,5712300753,1092031,12,11,1531,1568
150,1.0,6125637082,1094748,12,11,1581,1575
174,1.0,5798745562,1092853,12,11,1494,1511
179,1.0,8757363497,1092067,12,11,1449,1511
182,1.0,9318223260,1091970,12,11,1590,1555
205,1.0,4519674584,1092756,12,11,1583,1538
207,1.0,1192878123,1094304,12,11,1526,1521
228,1.0,2639407252,1092015,12,11,1516,1550
255,1.0,5571682738,1092618,12,11,1585,1534
278,1.0,2172558925,1092076,12,11,1636,1579
280,1.0,2414538382,1093821,12,11,1544,1541
286,1.0,1074667680,1093359,12,11,1734,1581
306,1.0,9526058864,1095022,12,11,1721,1603
319,1.0,1510968914,1092066,12,11,1622,1597
338,1.0,3406822547,1092014,12,11,1519,1549
348,1.0,9081861390,1092242,12,11,1573,1563
363,1.0,1783262406,1091995,12,11,1564,1570
411,1.0,3949595493,1094991,12,11,1547,1482
419,1.0,6393368441,1091993,12,11,1558,1535
466,1.0,7194563886,1094256,12,11,1561,1526
468,1.0,5445741824,1092855,12,11,1532,1517

In [54]:
def f(row):
    if row[w] <= 1499:
        val = "1"
    elif row[w] >= 1500 and row[w] <= 1526:
        val = "2L"
    elif row[w] >= 1527 and row[w] <= 1554:
        val = "2H"
    elif row[w] >= 1555 and row[w] <= 1584:
        val = '3L'
    elif row[w] >= 1585 and row[w] <= 1614:
        val = '3H'
    else:
        val = '4'
    return val

In [55]:
twelfth[y] = twelfth.apply(f, axis=1)
twelfth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/2222170737.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelfth[y] = twelfth.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
2,1.0,7398118361,1091983,12,11,1614,1565,3H
6,1.0,4183544250,1095002,12,11,1559,1517,3L
42,1.0,2179041265,1092004,12,11,1643,1593,4
72,1.0,6085294806,1094638,12,11,1525,1504,2L
98,1.0,1171661591,1095024,12,11,1590,1599,3H
109,1.0,2747506860,1094833,12,11,1555,1544,3L
110,1.0,9779673598,1094588,12,11,1496,1492,1
139,1.0,6648746782,1092034,12,11,1566,1581,3L
147,1.0,5712300753,1092031,12,11,1531,1568,2H
150,1.0,6125637082,1094748,12,11,1581,1575,3L
174,1.0,5798745562,1092853,12,11,1494,1511,1
179,1.0,8757363497,1092067,12,11,1449,1511,1
182,1.0,9318223260,1091970,12,11,1590,1555,3H
205,1.0,4519674584,1092756,12,11,1583,1538,3L
207,1.0,1192878123,1094304,12,11,1526,1521,2L
228,1.0,2639407252,1092015,12,11,1516,1550,2L
255,1.0,5571682738,1092618,12,11,1585,1534,3H
278,1.0,2172558925,1092076,12,11,1636,1579,4
280,1.0,2414538382,1093821,12,11,1544,1541,2H
286,1.0,1074667680,1093359,12,11,1734,1581,4
306,1.0,9526058864,1095022,12,11,1721,1603,4
319,1.0,1510968914,1092066,12,11,1622,1597,4
338,1.0,3406822547,1092014,12,11,1519,1549,2L
348,1.0,9081861390,1092242,12,11,1573,1563,3L
363,1.0,1783262406,1091995,12,11,1564,1570,3L
411,1.0,3949595493,1094991,12,11,1547,1482,2H
419,1.0,6393368441,1091993,12,11,1558,1535,3L
466,1.0,7194563886,1094256,12,11,1561,1526,3L
468,1.0,5445741824,1092855,12,11,1532,1517,2H

In [56]:
def g(row):
    if row[x] <= 1499:
        val = "1"
    elif row[x] >= 1500 and row[x] <= 1526:
        val = "2L"
    elif row[x] >= 1527 and row[x] <= 1554:
        val = "2H"
    elif row[x] >= 1555 and row[x] <= 1584:
        val = '3L'
    elif row[x] >= 1585 and row[x] <= 1614:
        val = '3H'
    else:
        val = '4'
    return val

In [57]:
twelfth[z] = twelfth.apply(g, axis=1)
twelfth

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/1929943834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twelfth[z] = twelfth.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
2,1.0,7398118361,1091983,12,11,1614,1565,3H,3L
6,1.0,4183544250,1095002,12,11,1559,1517,3L,2L
42,1.0,2179041265,1092004,12,11,1643,1593,4,3H
72,1.0,6085294806,1094638,12,11,1525,1504,2L,2L
98,1.0,1171661591,1095024,12,11,1590,1599,3H,3H
109,1.0,2747506860,1094833,12,11,1555,1544,3L,2H
110,1.0,9779673598,1094588,12,11,1496,1492,1,1
139,1.0,6648746782,1092034,12,11,1566,1581,3L,3L
147,1.0,5712300753,1092031,12,11,1531,1568,2H,3L
150,1.0,6125637082,1094748,12,11,1581,1575,3L,3L
174,1.0,5798745562,1092853,12,11,1494,1511,1,2L
179,1.0,8757363497,1092067,12,11,1449,1511,1,2L
182,1.0,9318223260,1091970,12,11,1590,1555,3H,3L
205,1.0,4519674584,1092756,12,11,1583,1538,3L,2H
207,1.0,1192878123,1094304,12,11,1526,1521,2L,2L
228,1.0,2639407252,1092015,12,11,1516,1550,2L,2H
255,1.0,5571682738,1092618,12,11,1585,1534,3H,2H
278,1.0,2172558925,1092076,12,11,1636,1579,4,3L
280,1.0,2414538382,1093821,12,11,1544,1541,2H,2H
286,1.0,1074667680,1093359,12,11,1734,1581,4,3L
306,1.0,9526058864,1095022,12,11,1721,1603,4,3H
319,1.0,1510968914,1092066,12,11,1622,1597,4,3H
338,1.0,3406822547,1092014,12,11,1519,1549,2L,2H
348,1.0,9081861390,1092242,12,11,1573,1563,3L,3L
363,1.0,1783262406,1091995,12,11,1564,1570,3L,3L
411,1.0,3949595493,1094991,12,11,1547,1482,2H,1
419,1.0,6393368441,1091993,12,11,1558,1535,3L,2H
466,1.0,7194563886,1094256,12,11,1561,1526,3L,2L
468,1.0,5445741824,1092855,12,11,1532,1517,2H,2L

In [58]:
second = elpac_scores[elpac_scores['GradeAssessed'] == 2]
second

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
0,4.0,5206937602,1094943,2,1,1414,1406
7,4.0,3268684170,1094779,2,1,1514,1444
9,4.0,8730419084,1096003,2,1,1518,1475
10,4.0,4123547561,1094934,2,1,1512,1486
13,4.0,6062014451,1094514,2,1,1447,1438
20,4.0,5944297702,1094845,2,1,1467,1462
21,4.0,6775437442,1094780,2,1,1469,1444
39,4.0,2952949680,1094788,2,1,1472,1439
44,4.0,7678690086,1094537,2,1,1415,1429
51,4.0,9577108293,1094825,2,1,1433,1396
52,4.0,3005567010,1095023,2,1,1477,1471
64,4.0,1770556860,1094783,2,1,1452,1432
65,4.0,4575030164,1093937,2,1,1558,1471
67,4.0,7032115192,1094548,2,1,1493,1458
76,4.0,9273930287,1094751,2,1,1476,1462
79,4.0,7950239728,1093927,2,1,1475,1458
82,4.0,8344962955,1093923,2,1,1516,1451
92,4.0,6745264018,1094781,2,1,1443,1396
106,4.0,5535299766,1095019,2,1,1494,1473
108,4.0,3907872415,1094931,2,1,1474,1481
155,4.0,5744241731,1095104,2,1,1507,1472
176,4.0,8525198790,1093925,2,1,1487,1480
187,4.0,5452968148,1095416,2,1,1495,1404
190,4.0,8090543430,1094821,2,1,1483,1438
196,4.0,9608386353,1094805,2,1,1462,1377
212,4.0,6958014502,1094787,2,1,1471,1457
215,4.0,3784638701,1094785,2,1,1491,1414
232,4.0,5471176770,1095673,2,1,1443,1390
240,4.0,5910144142,1094918,2,1,1460,1458
244,4.0,1385806577,1095390,2,1,1511,1429
245,4.0,2212506540,1094933,2,1,1480,1451
271,4.0,5505560177,1095342,2,1,1523,1448
275,4.0,6492477622,1095211,2,1,1429,1406
276,4.0,6571377595,1095982,2,1,1453,1413
277,4.0,4205108013,1095033,2,1,1458,1411
297,4.0,8418232675,1095413,2,1,1481,1480
299,4.0,1933229788,1094932,2,1,1463,1445
301,4.0,7617058323,1095106,2,1,1466,1438
302,4.0,9323713686,1094532,2,1,1430,1418
310,4.0,8432197229,1095257,2,1,1543,1459
322,4.0,7257380736,1095010,2,1,1511,1490
345,4.0,5958895656,1094824,2,1,1464,1443
349,4.0,9504246870,1094829,2,1,1465,1429
352,4.0,4220256126,1095620,2,1,1525,1464
377,4.0,6522095968,1094037,2,1,1463,1433
386,4.0,9975981892,1094997,2,1,1482,1460
390,4.0,4697330703,1094850,2,1,1438,1401
409,4.0,2134039601,1094911,2,1,1498,1472
414,NaN,6233641830,1095414,2,1,1495,1480
417,4.0,5708900406,1095739,2,1,1521,1488
431,4.0,5739176136,1094990,2,1,1432,1382
441,4.0,4105169515,1094989,2,1,1533,1462
459,4.0,3023516518,1094993,2,1,1480,1455
470,4.0,4080830692,1094693,2,1,1424,1416

In [59]:
def f(row):
    if row[w] <= 1423:
        val = "1"
    elif row[w] >= 1424 and row[w] <= 1446:
        val = "2L"
    elif row[w] >= 1447 and row[w] <= 1470:
        val = "2H"
    elif row[w] >= 1471 and row[w] <= 1500:
        val = '3L'
    elif row[w] >= 1501 and row[w] <= 1531:
        val = '3H'
    else:
        val = '4'
    return val

In [60]:
second[y] = second.apply(f, axis=1)
second

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/3327564832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second[y] = second.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
0,4.0,5206937602,1094943,2,1,1414,1406,1
7,4.0,3268684170,1094779,2,1,1514,1444,3H
9,4.0,8730419084,1096003,2,1,1518,1475,3H
10,4.0,4123547561,1094934,2,1,1512,1486,3H
13,4.0,6062014451,1094514,2,1,1447,1438,2H
20,4.0,5944297702,1094845,2,1,1467,1462,2H
21,4.0,6775437442,1094780,2,1,1469,1444,2H
39,4.0,2952949680,1094788,2,1,1472,1439,3L
44,4.0,7678690086,1094537,2,1,1415,1429,1
51,4.0,9577108293,1094825,2,1,1433,1396,2L
52,4.0,3005567010,1095023,2,1,1477,1471,3L
64,4.0,1770556860,1094783,2,1,1452,1432,2H
65,4.0,4575030164,1093937,2,1,1558,1471,4
67,4.0,7032115192,1094548,2,1,1493,1458,3L
76,4.0,9273930287,1094751,2,1,1476,1462,3L
79,4.0,7950239728,1093927,2,1,1475,1458,3L
82,4.0,8344962955,1093923,2,1,1516,1451,3H
92,4.0,6745264018,1094781,2,1,1443,1396,2L
106,4.0,5535299766,1095019,2,1,1494,1473,3L
108,4.0,3907872415,1094931,2,1,1474,1481,3L
155,4.0,5744241731,1095104,2,1,1507,1472,3H
176,4.0,8525198790,1093925,2,1,1487,1480,3L
187,4.0,5452968148,1095416,2,1,1495,1404,3L
190,4.0,8090543430,1094821,2,1,1483,1438,3L
196,4.0,9608386353,1094805,2,1,1462,1377,2H
212,4.0,6958014502,1094787,2,1,1471,1457,3L
215,4.0,3784638701,1094785,2,1,1491,1414,3L
232,4.0,5471176770,1095673,2,1,1443,1390,2L
240,4.0,5910144142,1094918,2,1,1460,1458,2H
244,4.0,1385806577,1095390,2,1,1511,1429,3H
245,4.0,2212506540,1094933,2,1,1480,1451,3L
271,4.0,5505560177,1095342,2,1,1523,1448,3H
275,4.0,6492477622,1095211,2,1,1429,1406,2L
276,4.0,6571377595,1095982,2,1,1453,1413,2H
277,4.0,4205108013,1095033,2,1,1458,1411,2H
297,4.0,8418232675,1095413,2,1,1481,1480,3L
299,4.0,1933229788,1094932,2,1,1463,1445,2H
301,4.0,7617058323,1095106,2,1,1466,1438,2H
302,4.0,9323713686,1094532,2,1,1430,1418,2L
310,4.0,8432197229,1095257,2,1,1543,1459,4
322,4.0,7257380736,1095010,2,1,1511,1490,3H
345,4.0,5958895656,1094824,2,1,1464,1443,2H
349,4.0,9504246870,1094829,2,1,1465,1429,2H
352,4.0,4220256126,1095620,2,1,1525,1464,3H
377,4.0,6522095968,1094037,2,1,1463,1433,2H
386,4.0,9975981892,1094997,2,1,1482,1460,3L
390,4.0,4697330703,1094850,2,1,1438,1401,2L
409,4.0,2134039601,1094911,2,1,1498,1472,3L
414,NaN,6233641830,1095414,2,1,1495,1480,3L
417,4.0,5708900406,1095739,2,1,1521,1488,3H
431,4.0,5739176136,1094990,2,1,1432,1382,2L
441,4.0,4105169515,1094989,2,1,1533,1462,4
459,4.0,3023516518,1094993,2,1,1480,1455,3L
470,4.0,4080830692,1094693,2,1,1424,1416,2L

In [61]:
def g(row):
    if row[x] <= 1410:
        val = "1"
    elif row[x] >= 1411 and row[x] <= 1432:
        val = "2L"
    elif row[x] >= 1433 and row[x] <= 1454:
        val = "2H"
    elif row[x] >= 1455 and row[x] <= 1480:
        val = '3L'
    elif row[x] >= 1481 and row[x] <= 1506:
        val = '3H'
    else:
        val = '4'
    return val

In [62]:
second[z] = second.apply(g, axis=1)
second

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/1340335905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  second[z] = second.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
0,4.0,5206937602,1094943,2,1,1414,1406,1,1
7,4.0,3268684170,1094779,2,1,1514,1444,3H,2H
9,4.0,8730419084,1096003,2,1,1518,1475,3H,3L
10,4.0,4123547561,1094934,2,1,1512,1486,3H,3H
13,4.0,6062014451,1094514,2,1,1447,1438,2H,2H
20,4.0,5944297702,1094845,2,1,1467,1462,2H,3L
21,4.0,6775437442,1094780,2,1,1469,1444,2H,2H
39,4.0,2952949680,1094788,2,1,1472,1439,3L,2H
44,4.0,7678690086,1094537,2,1,1415,1429,1,2L
51,4.0,9577108293,1094825,2,1,1433,1396,2L,1
52,4.0,3005567010,1095023,2,1,1477,1471,3L,3L
64,4.0,1770556860,1094783,2,1,1452,1432,2H,2L
65,4.0,4575030164,1093937,2,1,1558,1471,4,3L
67,4.0,7032115192,1094548,2,1,1493,1458,3L,3L
76,4.0,9273930287,1094751,2,1,1476,1462,3L,3L
79,4.0,7950239728,1093927,2,1,1475,1458,3L,3L
82,4.0,8344962955,1093923,2,1,1516,1451,3H,2H
92,4.0,6745264018,1094781,2,1,1443,1396,2L,1
106,4.0,5535299766,1095019,2,1,1494,1473,3L,3L
108,4.0,3907872415,1094931,2,1,1474,1481,3L,3H
155,4.0,5744241731,1095104,2,1,1507,1472,3H,3L
176,4.0,8525198790,1093925,2,1,1487,1480,3L,3L
187,4.0,5452968148,1095416,2,1,1495,1404,3L,1
190,4.0,8090543430,1094821,2,1,1483,1438,3L,2H
196,4.0,9608386353,1094805,2,1,1462,1377,2H,1
212,4.0,6958014502,1094787,2,1,1471,1457,3L,3L
215,4.0,3784638701,1094785,2,1,1491,1414,3L,2L
232,4.0,5471176770,1095673,2,1,1443,1390,2L,1
240,4.0,5910144142,1094918,2,1,1460,1458,2H,3L
244,4.0,1385806577,1095390,2,1,1511,1429,3H,2L
245,4.0,2212506540,1094933,2,1,1480,1451,3L,2H
271,4.0,5505560177,1095342,2,1,1523,1448,3H,2H
275,4.0,6492477622,1095211,2,1,1429,1406,2L,1
276,4.0,6571377595,1095982,2,1,1453,1413,2H,2L
277,4.0,4205108013,1095033,2,1,1458,1411,2H,2L
297,4.0,8418232675,1095413,2,1,1481,1480,3L,3L
299,4.0,1933229788,1094932,2,1,1463,1445,2H,2H
301,4.0,7617058323,1095106,2,1,1466,1438,2H,2H
302,4.0,9323713686,1094532,2,1,1430,1418,2L,2L
310,4.0,8432197229,1095257,2,1,1543,1459,4,3L
322,4.0,7257380736,1095010,2,1,1511,1490,3H,3H
345,4.0,5958895656,1094824,2,1,1464,1443,2H,2H
349,4.0,9504246870,1094829,2,1,1465,1429,2H,2L
352,4.0,4220256126,1095620,2,1,1525,1464,3H,3L
377,4.0,6522095968,1094037,2,1,1463,1433,2H,2H
386,4.0,9975981892,1094997,2,1,1482,1460,3L,3L
390,4.0,4697330703,1094850,2,1,1438,1401,2L,1
409,4.0,2134039601,1094911,2,1,1498,1472,3L,3L
414,NaN,6233641830,1095414,2,1,1495,1480,3L,3L
417,4.0,5708900406,1095739,2,1,1521,1488,3H,3H
431,4.0,5739176136,1094990,2,1,1432,1382,2L,1
441,4.0,4105169515,1094989,2,1,1533,1462,4,3L
459,4.0,3023516518,1094993,2,1,1480,1455,3L,3L
470,4.0,4080830692,1094693,2,1,1424,1416,2L,2L

In [63]:
first = elpac_scores[elpac_scores['GradeAssessed'] == 1]
first

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score
3,4.0,5182164156,1095425,1,0,1438,1395
17,4.0,1556455274,1095383,1,0,1433,1404
59,4.0,6554161416,1095427,1,0,1440,1435
95,4.0,9670249462,1095738,1,0,1401,1348
104,4.0,3671335304,1095330,1,0,1466,1439
118,4.0,9529658436,1095336,1,0,1469,1453
126,4.0,9984998417,1094901,1,0,1499,1465
130,4.0,8670863676,1095605,1,0,1437,1421
131,4.0,9285812561,1095367,1,0,1488,1411
132,4.0,6449260048,1095331,1,0,1439,1437
135,4.0,5015497274,1095438,1,0,1481,1434
145,NaN,7708061722,1095901,1,0,1415,1387
148,4.0,8994015527,1095376,1,0,1403,1390
149,4.0,3147494894,1095340,1,0,1438,1422
175,4.0,9442620540,1095335,1,0,1437,1412
188,4.0,5943059280,1094843,1,0,1458,1414
191,4.0,3946501732,1094826,1,0,1420,1444
195,4.0,3991989036,1095424,1,0,1408,1386
201,NaN,2384200800,1095679,1,0,1408,1378
229,4.0,1244866015,1095421,1,0,1445,1432
256,4.0,1741742447,1095095,1,0,1447,1387
258,4.0,7117036942,1095429,1,0,1430,1399
327,4.0,3735173924,1095627,1,0,1385,1407
328,4.0,8397245452,1095365,1,0,1395,1378
344,4.0,6257789638,1094536,1,0,1483,1404
360,4.0,9027349356,1095393,1,0,1439,1423
375,4.0,6689779481,1095363,1,0,1474,1425
378,4.0,7941177011,1095671,1,0,1410,1378
384,4.0,4515761092,1095606,1,0,1446,1459
385,4.0,4631215397,1095944,1,0,1477,1441
388,4.0,2259733792,1095360,1,0,1446,1378
404,4.0,1980714262,1095362,1,0,1449,1395
406,NaN,5645786253,1095724,1,0,1343,1365
422,4.0,5403066208,1095640,1,0,1433,1403
423,NaN,9081736356,1095700,1,0,1418,1386
444,4.0,9377132253,1095364,1,0,1430,1389
463,4.0,8698682542,1095359,1,0,1457,1435
483,4.0,3365679238,1094904,1,0,1467,1443

In [64]:
def f(row):
    if row[w] <= 1410:
        val = "1"
    elif row[w] >= 1411 and row[w] <= 1432:
        val = "2L"
    elif row[w] >= 1433 and row[w] <= 1454:
        val = "2H"
    elif row[w] >= 1455 and row[w] <= 1480:
        val = '3L'
    elif row[w] >= 1481 and row[w] <= 1506:
        val = '3H'
    else:
        val = '4'
    return val

In [65]:
first[y] = first.apply(f, axis=1)
first

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/866227306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first[y] = first.apply(f, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level
3,4.0,5182164156,1095425,1,0,1438,1395,2H
17,4.0,1556455274,1095383,1,0,1433,1404,2H
59,4.0,6554161416,1095427,1,0,1440,1435,2H
95,4.0,9670249462,1095738,1,0,1401,1348,1
104,4.0,3671335304,1095330,1,0,1466,1439,3L
118,4.0,9529658436,1095336,1,0,1469,1453,3L
126,4.0,9984998417,1094901,1,0,1499,1465,3H
130,4.0,8670863676,1095605,1,0,1437,1421,2H
131,4.0,9285812561,1095367,1,0,1488,1411,3H
132,4.0,6449260048,1095331,1,0,1439,1437,2H
135,4.0,5015497274,1095438,1,0,1481,1434,3H
145,NaN,7708061722,1095901,1,0,1415,1387,2L
148,4.0,8994015527,1095376,1,0,1403,1390,1
149,4.0,3147494894,1095340,1,0,1438,1422,2H
175,4.0,9442620540,1095335,1,0,1437,1412,2H
188,4.0,5943059280,1094843,1,0,1458,1414,3L
191,4.0,3946501732,1094826,1,0,1420,1444,2L
195,4.0,3991989036,1095424,1,0,1408,1386,1
201,NaN,2384200800,1095679,1,0,1408,1378,1
229,4.0,1244866015,1095421,1,0,1445,1432,2H
256,4.0,1741742447,1095095,1,0,1447,1387,2H
258,4.0,7117036942,1095429,1,0,1430,1399,2L
327,4.0,3735173924,1095627,1,0,1385,1407,1
328,4.0,8397245452,1095365,1,0,1395,1378,1
344,4.0,6257789638,1094536,1,0,1483,1404,3H
360,4.0,9027349356,1095393,1,0,1439,1423,2H
375,4.0,6689779481,1095363,1,0,1474,1425,3L
378,4.0,7941177011,1095671,1,0,1410,1378,1
384,4.0,4515761092,1095606,1,0,1446,1459,2H
385,4.0,4631215397,1095944,1,0,1477,1441,3L
388,4.0,2259733792,1095360,1,0,1446,1378,2H
404,4.0,1980714262,1095362,1,0,1449,1395,2H
406,NaN,5645786253,1095724,1,0,1343,1365,1
422,4.0,5403066208,1095640,1,0,1433,1403,2H
423,NaN,9081736356,1095700,1,0,1418,1386,2L
444,4.0,9377132253,1095364,1,0,1430,1389,2L
463,4.0,8698682542,1095359,1,0,1457,1435,3L
483,4.0,3365679238,1094904,1,0,1467,1443,3L

In [66]:
def g(row):
    if row[x] <= 1373:
        val = "1"
    elif row[x] >= 1374 and row[x] <= 1397:
        val = "2L"
    elif row[x] >= 1398 and row[x] <= 1421:
        val = "2H"
    elif row[x] >= 1422 and row[x] <= 1447:
        val = '3L'
    elif row[x] >= 1448 and row[x] <= 1473:
        val = '3H'
    else:
        val = '4'
    return val

In [67]:
first[z] = first.apply(g, axis=1)
first

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_8236/4172738060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first[z] = first.apply(g, axis=1)

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
3,4.0,5182164156,1095425,1,0,1438,1395,2H,2L
17,4.0,1556455274,1095383,1,0,1433,1404,2H,2H
59,4.0,6554161416,1095427,1,0,1440,1435,2H,3L
95,4.0,9670249462,1095738,1,0,1401,1348,1,1
104,4.0,3671335304,1095330,1,0,1466,1439,3L,3L
118,4.0,9529658436,1095336,1,0,1469,1453,3L,3H
126,4.0,9984998417,1094901,1,0,1499,1465,3H,3H
130,4.0,8670863676,1095605,1,0,1437,1421,2H,2H
131,4.0,9285812561,1095367,1,0,1488,1411,3H,2H
132,4.0,6449260048,1095331,1,0,1439,1437,2H,3L
135,4.0,5015497274,1095438,1,0,1481,1434,3H,3L
145,NaN,7708061722,1095901,1,0,1415,1387,2L,2L
148,4.0,8994015527,1095376,1,0,1403,1390,1,2L
149,4.0,3147494894,1095340,1,0,1438,1422,2H,3L
175,4.0,9442620540,1095335,1,0,1437,1412,2H,2H
188,4.0,5943059280,1094843,1,0,1458,1414,3L,2H
191,4.0,3946501732,1094826,1,0,1420,1444,2L,3L
195,4.0,3991989036,1095424,1,0,1408,1386,1,2L
201,NaN,2384200800,1095679,1,0,1408,1378,1,2L
229,4.0,1244866015,1095421,1,0,1445,1432,2H,3L
256,4.0,1741742447,1095095,1,0,1447,1387,2H,2L
258,4.0,7117036942,1095429,1,0,1430,1399,2L,2H
327,4.0,3735173924,1095627,1,0,1385,1407,1,2H
328,4.0,8397245452,1095365,1,0,1395,1378,1,2L
344,4.0,6257789638,1094536,1,0,1483,1404,3H,2H
360,4.0,9027349356,1095393,1,0,1439,1423,2H,3L
375,4.0,6689779481,1095363,1,0,1474,1425,3L,3L
378,4.0,7941177011,1095671,1,0,1410,1378,1,2L
384,4.0,4515761092,1095606,1,0,1446,1459,2H,3H
385,4.0,4631215397,1095944,1,0,1477,1441,3L,3L
388,4.0,2259733792,1095360,1,0,1446,1378,2H,2L
404,4.0,1980714262,1095362,1,0,1449,1395,2H,2L
406,NaN,5645786253,1095724,1,0,1343,1365,1,1
422,4.0,5403066208,1095640,1,0,1433,1403,2H,2H
423,NaN,9081736356,1095700,1,0,1418,1386,2L,2L
444,4.0,9377132253,1095364,1,0,1430,1389,2L,2L
463,4.0,8698682542,1095359,1,0,1457,1435,3L,3L
483,4.0,3365679238,1094904,1,0,1467,1443,3L,3L

In [68]:
# Concats all the grades into one dataframe
all_grades = pd.concat([first, second, third, fourth, fifth, sixth, seventh, eighth, ninth, tenth, eleventh, twelfth])
all_grades

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
3,4.0,5182164156,1095425,1,0,1438,1395,2H,2L
17,4.0,1556455274,1095383,1,0,1433,1404,2H,2H
59,4.0,6554161416,1095427,1,0,1440,1435,2H,3L
95,4.0,9670249462,1095738,1,0,1401,1348,1,1
104,4.0,3671335304,1095330,1,0,1466,1439,3L,3L
...,...,...,...,...,...,...,...,...,...
363,1.0,1783262406,1091995,12,11,1564,1570,3L,3L
411,1.0,3949595493,1094991,12,11,1547,1482,2H,1
419,1.0,6393368441,1091993,12,11,1558,1535,3L,2H
466,1.0,7194563886,1094256,12,11,1561,1526,3L,2L
468,1.0,5445741824,1092855,12,11,1532,1517,2H,2L

In [69]:
all_grades

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
3,4.0,5182164156,1095425,1,0,1438,1395,2H,2L
17,4.0,1556455274,1095383,1,0,1433,1404,2H,2H
59,4.0,6554161416,1095427,1,0,1440,1435,2H,3L
95,4.0,9670249462,1095738,1,0,1401,1348,1,1
104,4.0,3671335304,1095330,1,0,1466,1439,3L,3L
...,...,...,...,...,...,...,...,...,...
363,1.0,1783262406,1091995,12,11,1564,1570,3L,3L
411,1.0,3949595493,1094991,12,11,1547,1482,2H,1
419,1.0,6393368441,1091993,12,11,1558,1535,3L,2H
466,1.0,7194563886,1094256,12,11,1561,1526,3L,2L
468,1.0,5445741824,1092855,12,11,1532,1517,2H,2L

In [70]:
# Creates a download file in case you want to check the results
import base64
from IPython.display import HTML

def create_download_link( df, title = 'ELPAC Scores', filename = 'ELPAC Scores'):
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(all_grades)

## Generating ELPI Table

In this section each level will be singled out for the current year then grouped by each previous year level and counted with a pivot turning each level of the previous year into their own column.

After all the levels are completed for the current year, they will then be concatenated so that the final ELPI table is generated.

In [71]:
# Selects level one for current year
one = all_grades[all_grades[y] == '1']
one

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
95,4.0,9670249462,1095738,1,0,1401,1348,1,1
148,4.0,8994015527,1095376,1,0,1403,1390,1,2L
195,4.0,3991989036,1095424,1,0,1408,1386,1,2L
201,NaN,2384200800,1095679,1,0,1408,1378,1,2L
327,4.0,3735173924,1095627,1,0,1385,1407,1,2H
328,4.0,8397245452,1095365,1,0,1395,1378,1,2L
378,4.0,7941177011,1095671,1,0,1410,1378,1,2L
406,NaN,5645786253,1095724,1,0,1343,1365,1,1
0,4.0,5206937602,1094943,2,1,1414,1406,1,1
44,4.0,7678690086,1094537,2,1,1415,1429,1,2L
77,4.0,5312360171,1095585,3,2,1444,1409,1,1
111,4.0,8787634064,1094213,3,2,1436,1416,1,1
284,4.0,5303262723,1094645,3,2,1447,1456,1,2H
465,4.0,8231588278,1095449,3,2,1426,1394,1,1
475,4.0,9238604264,1094221,3,2,1437,1452,1,2H
35,4.0,8185040190,1093326,4,3,1452,1459,1,2L
325,4.0,8975748914,1095653,4,3,1427,1427,1,1
367,4.0,9499567015,1095214,4,3,1419,1435,1,1
402,4.0,3303364937,1094590,4,3,1451,1461,1,2L
474,4.0,3728897616,1092915,4,3,1441,1425,1,1
164,4.0,8915211055,1095455,5,4,1459,1438,1,1
227,4.0,9535959134,1095495,5,4,1389,1385,1,1
288,4.0,8188745635,1092314,5,4,1465,1453,1,1
425,4.0,2334509550,1092388,5,4,1464,1416,1,1
436,4.0,7153969228,1095460,5,4,1435,1398,1,1
18,2.0,5398923543,1094591,6,5,1433,1427,1,1
27,2.0,9580607054,1095174,6,5,1460,1488,1,2L
41,2.0,1343033987,1094648,6,5,1420,1458,1,1
127,2.0,9229722085,1095494,6,5,1414,1395,1,1
291,2.0,3143044271,1095488,6,5,1457,1458,1,1
323,2.0,8948989721,1092966,6,5,1452,1483,1,2L
70,2.0,4991709813,1095667,7,6,1384,1331,1,1
192,2.0,1591477277,1094832,7,6,1465,1488,1,2L
253,2.0,4900384530,1093947,7,6,1462,1444,1,1
285,2.0,6537543715,1095914,7,6,1474,1505,1,2H
320,2.0,5976321298,1093038,7,6,1474,1486,1,2L
461,2.0,4227072197,1095514,7,6,1394,1385,1,1
266,2.0,5489126717,1095676,8,7,1428,1296,1,1
273,2.0,3760578966,1094054,8,7,1450,1446,1,1
329,2.0,5272038652,1094811,8,7,1470,1481,1,2L
365,2.0,5368912211,1095609,8,7,1481,1398,1,1
366,1.0,4471832935,1094120,9,8,1476,1486,1,2L
373,1.0,8280855415,1093619,9,8,1468,1497,1,2L
1,1.0,4532271208,1094484,10,9,1486,1457,1,1
428,1.0,8332759574,1093828,10,9,1448,1473,1,1
481,1.0,4761803542,1093233,11,10,1498,1558,1,3L
110,1.0,9779673598,1094588,12,11,1496,1492,1,1
174,1.0,5798745562,1092853,12,11,1494,1511,1,2L
179,1.0,8757363497,1092067,12,11,1449,1511,1,2L

In [72]:
level_one = one.groupby(by=[z])['SSID'].count().reset_index() # Groups by previous year levels and counts students
level_one[y] = '1' # Adds a Label of 1 for Level 1
level_one = level_one.pivot(index=[y], columns=z,values='SSID').reset_index() #Pivots to create columns for each level
level_one

2022 Level 2023 Level   1  2H  2L  3L
0                   1  27   4  17   1

In [73]:
# Repeats for level 2L
two_l = all_grades[all_grades[y] == '2L']
two_l

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
145,NaN,7708061722,1095901,1,0,1415,1387,2L,2L
191,4.0,3946501732,1094826,1,0,1420,1444,2L,3L
258,4.0,7117036942,1095429,1,0,1430,1399,2L,2H
423,NaN,9081736356,1095700,1,0,1418,1386,2L,2L
444,4.0,9377132253,1095364,1,0,1430,1389,2L,2L
...,...,...,...,...,...,...,...,...,...
336,1.0,6598927361,1094162,11,10,1525,1499,2L,2L
72,1.0,6085294806,1094638,12,11,1525,1504,2L,2L
207,1.0,1192878123,1094304,12,11,1526,1521,2L,2L
228,1.0,2639407252,1092015,12,11,1516,1550,2L,2H
338,1.0,3406822547,1092014,12,11,1519,1549,2L,2H

In [74]:
# Repeats what was done for Level 2 for Level 1
level_twol = two_l.groupby(by=[z])['SSID'].count().reset_index()
level_twol[y] = '2L'
level_twol = level_twol.pivot(index=[y], columns=z,values='SSID').reset_index()
level_twol

2022 Level 2023 Level   1  2H  2L  3L
0                  2L  14  22  33   6

In [75]:
two_h = all_grades[all_grades[y] == '2H']
two_h

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
3,4.0,5182164156,1095425,1,0,1438,1395,2H,2L
17,4.0,1556455274,1095383,1,0,1433,1404,2H,2H
59,4.0,6554161416,1095427,1,0,1440,1435,2H,3L
130,4.0,8670863676,1095605,1,0,1437,1421,2H,2H
132,4.0,6449260048,1095331,1,0,1439,1437,2H,3L
...,...,...,...,...,...,...,...,...,...
304,1.0,8318313753,1092482,11,10,1538,1520,2H,2H
147,1.0,5712300753,1092031,12,11,1531,1568,2H,3L
280,1.0,2414538382,1093821,12,11,1544,1541,2H,2H
411,1.0,3949595493,1094991,12,11,1547,1482,2H,1
468,1.0,5445741824,1092855,12,11,1532,1517,2H,2L

In [76]:
level_twoh = two_h.groupby(by=[z])['SSID'].count().reset_index()
level_twoh[y] = '2H'
level_twoh = level_twoh.pivot(index=[y], columns=z,values='SSID').reset_index()
level_twoh

2022 Level 2023 Level  1  2H  2L  3H  3L
0                  2H  5  37  26   6  24

In [77]:
three_l = all_grades[all_grades[y] == '3L']
three_l

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
104,4.0,3671335304,1095330,1,0,1466,1439,3L,3L
118,4.0,9529658436,1095336,1,0,1469,1453,3L,3H
188,4.0,5943059280,1094843,1,0,1458,1414,3L,2H
375,4.0,6689779481,1095363,1,0,1474,1425,3L,3L
385,4.0,4631215397,1095944,1,0,1477,1441,3L,3L
...,...,...,...,...,...,...,...,...,...
205,1.0,4519674584,1092756,12,11,1583,1538,3L,2H
348,1.0,9081861390,1092242,12,11,1573,1563,3L,3L
363,1.0,1783262406,1091995,12,11,1564,1570,3L,3L
419,1.0,6393368441,1091993,12,11,1558,1535,3L,2H
466,1.0,7194563886,1094256,12,11,1561,1526,3L,2L

In [78]:
level_threel = three_l.groupby(by=[z])['SSID'].count().reset_index()
level_threel[y] = '3L'
level_threel = level_threel.pivot(index=[y], columns=z,values='SSID').reset_index()
level_threel

2022 Level 2023 Level  1  2H  2L  3H  3L
0                  3L  4  29  12  19  50

In [79]:
three_h = all_grades[all_grades[y] == '3H']
three_h

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
126,4.0,9984998417,1094901,1,0,1499,1465,3H,3H
131,4.0,9285812561,1095367,1,0,1488,1411,3H,2H
135,4.0,5015497274,1095438,1,0,1481,1434,3H,3L
344,4.0,6257789638,1094536,1,0,1483,1404,3H,2H
7,4.0,3268684170,1094779,2,1,1514,1444,3H,2H
...,...,...,...,...,...,...,...,...,...
473,NaN,6563075310,1093791,10,9,1593,1555,3H,3L
2,1.0,7398118361,1091983,12,11,1614,1565,3H,3L
98,1.0,1171661591,1095024,12,11,1590,1599,3H,3H
182,1.0,9318223260,1091970,12,11,1590,1555,3H,3L
255,1.0,5571682738,1092618,12,11,1585,1534,3H,2H

In [80]:
level_threeh = three_h.groupby(by=[z])['SSID'].count().reset_index()
level_threeh[y] = '3H'
level_threeh = level_threeh.pivot(index=[y], columns=z,values='SSID').reset_index()
level_threeh

2022 Level 2023 Level  1  2H  2L  3H  3L
0                  3H  1  18   5  29  28

In [81]:
four = all_grades[all_grades[y] == '4']
four

,School,SSID,LocalStudentID,GradeAssessed,GradePast,2023 Score,2022 Score,2023 Level,2022 Level
65,4.0,4575030164,1093937,2,1,1558,1471,4,3L
310,4.0,8432197229,1095257,2,1,1543,1459,4,3L
441,4.0,4105169515,1094989,2,1,1533,1462,4,3L
16,4.0,7620399876,1094241,3,2,1546,1513,4,3H
117,4.0,7742721396,1094773,3,2,1634,1484,4,3L
...,...,...,...,...,...,...,...,...,...
42,1.0,2179041265,1092004,12,11,1643,1593,4,3H
278,1.0,2172558925,1092076,12,11,1636,1579,4,3L
286,1.0,1074667680,1093359,12,11,1734,1581,4,3L
306,1.0,9526058864,1095022,12,11,1721,1603,4,3H
319,1.0,1510968914,1092066,12,11,1622,1597,4,3H

In [82]:
level_four = four.groupby(by=[z])['SSID'].count().reset_index()
level_four

  2022 Level  SSID
0         2H     5
1         2L     1
2         3H    35
3         3L    25
4          4     1

In [83]:
level_four = four.groupby(by=[z])['SSID'].count().reset_index()
level_four[y] = '4'
level_four = level_four.pivot(index=[y], columns=z,values='SSID').reset_index()
level_four

2022 Level 2023 Level  2H  2L  3H  3L  4
0                   4   5   1  35  25  1

In [84]:
# Concats all of the tables together to create the ELPI table
table = pd.concat([level_one, level_twol, level_twoh, level_threel, level_threeh, level_four])
table

2022 Level 2023 Level     1  2H  2L  3L    3H    4
0                   1  27.0   4  17   1   NaN  NaN
0                  2L  14.0  22  33   6   NaN  NaN
0                  2H   5.0  37  26  24   6.0  NaN
0                  3L   4.0  29  12  50  19.0  NaN
0                  3H   1.0  18   5  28  29.0  NaN
0                   4   NaN   5   1  25  35.0  1.0

In [85]:
# Fills in any missing data with zeros
table_final = table[[y, '1', '2L', '2H', '3L', '3H', '4']]
table_final = table_final.fillna(0)
table_final

2022 Level 2023 Level     1  2L  2H  3L    3H    4
0                   1  27.0  17   4   1   0.0  0.0
0                  2L  14.0  33  22   6   0.0  0.0
0                  2H   5.0  26  37  24   6.0  0.0
0                  3L   4.0  12  29  50  19.0  0.0
0                  3H   1.0   5  18  28  29.0  0.0
0                   4   0.0   1   5  25  35.0  1.0

In [86]:
import base64
from IPython.display import HTML

def create_download_link( df, title = 'ELPI Table', filename = 'ELPI Table'):
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(table_final)